---
layout: default-en
canonical: /en/
---

<section class="main-banner" id="home">

  <div class="main-banner__tablet">
    <img src="/build/img/2016/development-product-design-solutions.png" alt="Development and product design solutions">
  </div>

  <div class="main-banner__content">
    <h1 class="main-banner__h1">
      Development and <br>product design solutions <br>for your Startup.
    </h1>
    <h2 class="main-banner__h2">
      We develop your idea into a <strong>prototype for validation</strong> and real user tests or a <strong>MVP ready to go</strong> within two weeks, with our team of product and Agile experts.
    </h2>
  </div>

</section>

<section class="service" id="service">
  <div class="service__content">

    <div class="service__col service__col--pic">
      <!-- Graphics -->
      <div class="wrapper">
        <div id="steps" class="steps light">
          <div id="step-1" class="step-content">
            <img alt="" src="/build/img/2016/steps/papp-lifecycle-01.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/papp-lifecycle-01.png'" class="steps__icon"/>
            <div class="steps__description">
              The service first round starts <span>bringing up the problems</span> from your idea.
              <br>
              <a href="#step-2" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-2" class="step-content">
            <img alt="" src="/build/img/2016/steps/papp-lifecycle-02.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/papp-lifecycle-02.png'" class="steps__icon"/>
            <div class="steps__description">
              On the second day, we put up all the <span>possible solutions.</span>
              <br>
              <a href="#step-3" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-3" class="step-content">
            <img alt="" src="/build/img/2016/steps/papp-lifecycle-03.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/papp-lifecycle-03.png'" class="steps__icon"/>
            <div class="steps__description">
              Drawing the first <span>wireframes</span> it fills up the third day of the project.
              <br>
              <a href="#step-4" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-4" class="step-content">
            <img alt="" src="/build/img/2016/steps/papp-lifecycle-04.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/papp-lifecycle-04.png'" class="steps__icon"/>
            <div class="steps__description">
              Your team and ours design a mockup graphic interface for your product on the fourth day.
              <br>
              <a href="#step-5" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-5" class="step-content">
            <img alt="" src="/build/img/2016/steps/papp-lifecycle-05.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/papp-lifecycle-05.png'" class="steps__icon"/>
            <div class="steps__description">
              We <span>test and validate</span> our solutions with <span>real users</span> finishing the first round.
              <br>
              <a href="#step-6" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-6" class="step-content">
            <img alt="" src="/build/img/2016/steps/papp-lifecycle-06.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/papp-lifecycle-06.png'" class="steps__icon"/>
            <div class="steps__description">
              We develop a high-fidelity and interactive product based prototype.
              <br>
              <a href="#step-1" class="read-more" title="Back to start">Back to start</a>
            </div>
          </div>
          <div id="steps-menu" class="step-1">
            <ul>
              <li class="is-active"><a id="link1" href="#step-1">1</a></li>
              <li><a id="link2" href="#step-2">2</a></li>
              <li><a id="link3" href="#step-3">3</a></li>
              <li><a id="link4" href="#step-4">4</a></li>
              <li><a id="link5" href="#step-5">5</a></li>
              <li><a id="link6" href="#step-6">6</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Graphics -->
    </div>

    <div class="service__col">
      <h2 class="service__title">service</h2>
      <p class="service__description">
        Through design thinking and UX concepts,
        we find out problems e bring <strong>solutions to your idea</strong>,
        delivering a <strong>prototype</strong> for demonstration, validation
        and tests with real users, all that <strong>within two weeks.</strong>
      </p>
      <div class="width-limiter investment__inner">
        <ul class="investment__items">
          <li class="investment__item" data-suffix="+">
            <img src="/build/img/2016/team-icon2.svg" class="investment__icon">
            <h3 class="investment__subheading">You & 2 Experts</h3>
          </li>

          <li class="investment__item" data-suffix="=">
            <img src="/build/img/2016/calendar-icon.svg" class="investment__icon">
            <h3 class="investment__subheading">2 weeks</h3>
          </li>

          <li class="investment__item">
            <h3 class="investment__subheading">Only:</h3>
            <div class="investment__box">$8.000</div>
          </li>
        </ul>
        <a href="#modal" title="Hire Us!" class="btn btn--primary" id="cta-hire-service">Hire Us</a>
      </div>
    </div>

  </div>
</section>

<section class="mvp" id="mvp">
  <div class="mvp__content">

    <div class="mvp__col">
      <h2 class="mvp__title">Express MVP</h2>
      <p class="mvp__description">
        We'll detail your needs, we plan the whole project
        and deliver a <strong>web or mobile app ready</strong> to use within one (web) or two working weeks (mobile),
        at a fixed investment.
      </p>
    </div>

    <div class="mvp__col mvp__col--pic">
      <!-- Graphics -->
      <div class="wrapper">
        <div id="steps" class="steps dark">
          <div id="step-1" class="step-content">
            <img alt="" src="/build/img/2016/steps/mvpe-lifecycle-01.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/mvpe-lifecycle-01.png'" class="steps__icon"/>
            <div class="steps__description">
              First part of the day is dedicated to planning the week and <span>getting to know your idea.</span>
              <br>
              <a href="#step-2" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-2" class="step-content">
            <img alt="" src="/build/img/2016/steps/mvpe-lifecycle-02.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/mvpe-lifecycle-02.png'" class="steps__icon"/>
            <div class="steps__description">
              Second step, we <span>draw screens</span> on paper and decide together what's best for your product.
              <br>
              <a href="#step-3" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-3" class="step-content">
            <img alt="" src="/build/img/2016/steps/mvpe-lifecycle-03.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/mvpe-lifecycle-03.png'" class="steps__icon"/>
            <div class="steps__description">
              Following, we split the planning into <span>tasks</span> for the next days of your project.
              <br>
              <a href="#step-4" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-4" class="step-content">
            <img alt="" src="/build/img/2016/steps/mvpe-lifecycle-04.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/mvpe-lifecycle-04.png'" class="steps__icon"/>
            <div class="steps__description">
              End of the day one: we estimate tasks and you <span>prioritize</span> it's development order from most to less important.
              <br>
              <a href="#step-5" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-5" class="step-content">
            <img alt="" src="/build/img/2016/steps/mvpe-lifecycle-05.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/mvpe-lifecycle-05.png'" class="steps__icon"/>
            <div class="steps__description">
              We dedicate the next three days to <span>development</span> of the tasks in the prioritized order.
              <br>
              <a href="#step-6" class="read-more" title="Next step">Next step</a>
            </div>
          </div>
          <div id="step-6" class="step-content">
            <img alt="" src="/build/img/2016/steps/mvpe-lifecycle-06.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/mvpe-lifecycle-06.png'" class="steps__icon"/>
            <div class="steps__description">
              Last day is dedicated to tests and <span>final delivery.</span> There you go: you get an App ready to use!
              <br>
              <a href="#step-1" class="read-more" title="Back to start">Back to start</a>
            </div>
          </div>
          <div id="steps-menu" class="step-1">
            <ul>
              <li class="is-active"><a id="link1" href="#step-1">1</a></li>
              <li><a id="link2" href="#step-2">2</a></li>
              <li><a id="link3" href="#step-3">3</a></li>
              <li><a id="link4" href="#step-4">4</a></li>
              <li><a id="link5" href="#step-5">5</a></li>
              <li><a id="link6" href="#step-6">6</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Graphics -->
    </div>

    <div class="width-limiter investment__inner investment__inner--divider">
      <div class="investment__title-wrapper">
        <img src="/build/img/2016/icon-arrow.svg" class="investment__arrow">
        <h1 class="investment__title">WEB</h1>
      </div>

      <div class="investment__center">
        <ul class="investment__item investment__items">
          <li class="investment__item " data-suffix="+">
            <img src="/build/img/2016/team-icon1.svg" class="investment__icon">
            <h3 class="investment__subheading">You & 3 Experts</h3>
          </li>

          <li class="investment__item " data-suffix="=">
            <img src="/build/img/2016/calendar-icon.svg" class="investment__icon">
            <h3 class="investment__subheading">1 week</h3>
          </li>

          <li class="investment__item ">
            <h3 class="investment__subheading">Only:</h3>
            <div class="investment__box">$6.000</div>
          </li>
        </ul>
      </div>

      <div class="investment__button-wrapper">
        <div class="investment__spacer--small">
          <a href="#modal" title="Contrate!" class="btn btn--primary" id="cta-hire-mvp-web">Hire Us</a>
        </div>
      </div>
    </div>


    <div class="width-limiter investment__inner">
      <div class="investment__title-wrapper">
        <img src="/build/img/2016/icon-arrow.svg" class="investment__arrow">
        <h1 class="investment__title">
          MOBILE
          <span>iOS/Android</span>
        </h1>
      </div>

      <div class="investment__center">
        <ul class="investment__item investment__items">
          <li class="investment__item " data-suffix="+">
            <img src="/build/img/2016/team-icon1.svg" class="investment__icon">
            <h3 class="investment__subheading">You & 3 Experts</h3>
          </li>

          <li class="investment__item " data-suffix="=">
            <img src="/build/img/2016/calendar-icon.svg" class="investment__icon">
            <h3 class="investment__subheading">2 weeks</h3>
          </li>

          <li class="investment__item ">
            <h3 class="investment__subheading">Only:</h3>
            <div class="investment__box">$12.000</div>
          </li>
        </ul>
      </div>

      <div class="investment__button-wrapper">
        <div class="investment__spacer--small">
          <a href="#modal" title="Hire Us!" class="btn btn--primary" id="cta-hire-mvp-mobile">Hire Us</a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="methodology" id="result">
  <div class="methodology__content">

    <span class="methodology__result">result</span>
    <h2 class="methodology__title">Methodology</h2>
    <p class="methodology__description">
      Find out how your idea will become a successful <br>
      App or Prototype within one or two working weeks.
    </p>

    <a class="fancybox methodology__play" href="/videos/apresentation.html" title="Find out how your idea will become a successful App or Prototype">
      <span class="icon"></span>
      <span class="text">Watch our video</span>
    </a>

  </div>
</section>


<section class="testimonials">
  <div class="testimonials__content">

    <span class="testimonials__result">result</span>
    <h2 class="testimonials__title">Testimonials</h2>

    <div class="slider-testimonial">

      <ul class="bxslider">
      {% for testimonial in site.data.testimonials-en %}

        <li>
          <p class="slider-testimonial__quote">
            {{ testimonial.quote }}
          </p>

          <div class="slider-testimonial__picture">
            <img alt="{{ testimonial.author }}" src="/build/img/avatars/{{ testimonial.picture }}.png">
          </div>

          <div class="slider-testimonial__author">{{ testimonial.author }}</div>
          <div class="slider-testimonial__project">{{ testimonial.project }}</div>
        </li>
        <!-- end quote -->

      {% endfor %}
      </ul>

      <!-- slider controls -->
      <span class="slider-testimonial__prev"></span>
      <span class="slider-testimonial__next"></span>

    </div>
    <!-- slider -->

  </div>

  <div class="testimonials-video">

    <a class="testimonials-video__box fancybox" title="Arthur Granado - 21212" href="/videos/arthur-granado.html">
      <figure><img src="/build/img/2016/testimonial1.jpg" alt="Arthur Granado - 21212"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Arthur Granado</span>
        <span class="testimonials-video__project">21212</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" title="Amure Pinho - Amigo Não Se Compra" href="/videos/amure-pinho.html" >
      <figure><img src="/build/img/2016/testimonial2.jpg" alt="Amure Pinho - Amigo Não Se Compra"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Amure Pinho</span>
        <span class="testimonials-video__project">Amigo Não Se Compra</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" title="Cezar Souza - VentureOne" href="/videos/cezar-souza.html">
      <figure><img src="/build/img/2016/testimonial3.jpg" alt="Cezar Souza - VentureOne"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Cezar Souza</span>
        <span class="testimonials-video__project">VentureOne</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" title="Juan Bernabó - TeamWare" href="/videos/juan-bernabo.html">
      <figure><img src="/build/img/2016/testimonial4.jpg" alt="Juan Bernabó - TeamWare"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Juan Bernabó</span>
        <span class="testimonials-video__project">TeamWare</span>
      </div>
    </a>

  </div>

</section>


<section class="projects">
  <div class="projects__content">
    <span class="projects__result">result</span>
    <h2 class="projects__title">Success</h2>
    <p class="projects__description">
      More than 80 well succeeded projects.
    </p>
  </div>

  <div class="projects__grid">
  {% for project in site.data.projects %}
    <a class="projects__item" href="{{ project.url }}" target="_blank" title="{{ project.name }}">
      <img src="{{ project.image }}" alt="{{ project.name }}" />
      <span class="projects__name">{{ project.name }}</span>
    </a>
  {% endfor %}
  </div>
</section>


<div class="remodal" data-remodal-id="sent">

  <button data-remodal-action="close" class="btn-modal-close"></button>
  <div class="stdev-form">
    <header id="header" class="stdev-form__heading">
      <img src="/build/img/2016/icn_email_sent.svg"/>
      <h2 class="stdev-form__title">Thank you!</h2>
      <div class="stdev-form__subtitle">We will get in touch soon.</div>
    </header>
  </div>

</div>
