<link rel="canonical"  href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ "/build/assets/owl-carousel/assets/owl.carousel.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/build/assets/owl-carousel/assets/owl.theme.default.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/build/assets/remodal/remodal.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/build/assets/remodal/remodal-default-theme.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/build/css/main.css" | prepend: site.baseurl }}">
