---
layout: default
---

<section class="main-banner" id="home" role="main">
  <div class="main-banner__content">
    <h1 class="main-banner__h1">De pessoas para pessoas</h1>
    <h2 class="main-banner__h2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique a quis, est ratione libero ex sapiente dicta ut labore, quaerat.
    </h2>
  </div>
  <div class="main-banner__tablet">
    <img src="/build/img/2016/solucoes-desenvolvimento-design.png" alt="Soluções de desenvolvimento e design">
  </div>
</section>

<section class="service" id="service">
  <div class="service__content">
    <div class="service__col service__col--pic">
      <!-- Graphics -->
      <div class="wrapper">
        <div id="steps" class="steps light">
          <div id="step-1" class="step-content">
            <img src="/build/img/2016/steps/levantamento-de-necessidades.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/levantamento-de-necessidades.svg'" class="steps__icon" alt="Levantamento de necessidades"/>
            <div class="steps__description">
              O service começa com o <span>levantamento de problemas e necessidades</span> do seu usuário.
              <br>
              <a href="#step-2" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-2" class="step-content">
            <img src="/build/img/2016/steps/levantamento-de-possiveis-solucoes.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/levantamento-de-possiveis-solucoes.svg'" class="steps__icon" alt="Levantamento de possíveis soluções"/>
            <div class="steps__description">
              No segundo dia, investimos na exploração das <span>possíveis soluções.</span> <br/>
              <br>
              <a href="#step-3" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-3" class="step-content">
            <img src="/build/img/2016/steps/desenho-wireframes.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/desenho-wireframes.svg'" class="steps__icon" alt="Desenho dos primeiros wireframes no terceiro dia"/>
            <div class="steps__description">
              O desenho dos primeiros <span>wireframes</span> acontece no terceiro dia de trabalho.
              <br>
              <a href="#step-4" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-4" class="step-content">
            <img src="/build/img/2016/steps/mockups-interface-do-produto.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/mockups-interface-do-produto.svg'" class="steps__icon" alt="Mockups da interface do produto"/>
            <div class="steps__description">
              Preparamos <span>mockups</span> da interface do seu produto no quarto dia da semana.
              <br>
              <a href="#step-5" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-5" class="step-content">
            <img src="/build/img/2016/steps/testes-validacao-das-solucoes.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/testes-validacao-das-solucoes.svg'" class="steps__icon" alt="Testes e validação das soluções com usuários reais."/>
            <div class="steps__description">
              <span>Testes e validação</span> das soluções com <span>usuários reais</span> fecham o primeiro ciclo do projeto.
              <br>
              <a href="#step-6" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-6" class="step-content">
            <img src="/build/img/2016/steps/mockups-finais-navegaveis.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/mockups-finais-navegaveis.svg'" class="steps__icon" alt="Mockups finais navegavéis"/>
            <div class="steps__description">
              Segunda semana: após a validação, seu produto vira um <span>protótipo navegável!</span>
              <br>
              <a href="#step-1" class="read-more" title="Retornar">Retornar</a>
            </div>
          </div>
          <div id="steps-menu" class="step-1">
            <ul>
              <li class="is-active"><a id="link1" href="#step-1" title="Levantamento de necessidades">1</a></li>
              <li><a id="link2" href="#step-2" title="Levantamento de possíveis soluções">2</a></li>
              <li><a id="link3" href="#step-3" title="Desenho dos primeiros wireframes no terceiro dia">3</a></li>
              <li><a id="link4" href="#step-4" title="Mockups da interface do produto">4</a></li>
              <li><a id="link5" href="#step-5" title="Testes e validação das soluções com usuários reais">5</a></li>
              <li><a id="link6" href="#step-6" title="Mockups finais navegavéis.">6</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Graphics -->
    </div>

    <div class="service__col">
      <h2 class="service__title">service</h2>
      <p class="service__description">
        Através do design thinking e conceitos de UX, levantamos problemas e <strong>soluções para sua ideia</strong>, entregamos um <strong>protótipo</strong> para demonstração, validação e testes com usuários reais em <strong>duas semanas</strong>.
      </p>

      <div class="width-limiter investment__inner">
        <ul class="investment__items">
          <li class="investment__item" data-suffix="+">
            <img src="/build/img/2016/team-icon2.svg" class="investment__icon">
            <h3 class="investment__subheading">Você e 2 Experts</h3>
          </li>

          <li class="investment__item" data-suffix="=">
            <img src="/build/img/2016/calendar-icon.svg" class="investment__icon">
            <h3 class="investment__subheading">2 semanas</h3>
          </li>

          <li class="investment__item">
            <h3 class="investment__subheading">Por apenas:</h3>
            <div class="investment__box">R$ 22.000</div>
          </li>
        </ul>
        <a href="#modal" title="Contrate!" class="btn btn--primary" id="cta-hire-service">Contrate</a>
      </div>


    </div>

  </div>
</section>

<section class="mvp" id="mvp">
  <div class="mvp__content">

    <div class="mvp__col">
      <h2 class="mvp__title">MVP Expresso</h2>
      <p class="mvp__description">
        Detalhamos sua necessidade, planejamos o projeto
        e entregamos um <strong>app web ou mobile pronto</strong> para
        ser usado ao final de uma semana de trabalho (web)
        ou duas (mobile), com investimento fixo.
      </p>
      <!-- <a href="#modal" title="Contrate!" class="btn btn--primary" id="cta-hire-mvpexpresso">Contrate</a> -->
    </div>

    <div class="mvp__col mvp__col--pic">
      <!-- Graphics -->
      <div class="wrapper">
        <div id="steps" class="steps dark">
          <div id="step-1" class="step-content">
            <img src="/build/img/2016/steps/planejamento-conhecimento-da-ideia.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/planejamento-conhecimento-da-ideia.svg'" class="steps__icon" alt="Planejamento da semana e conhecimento da ideia."/>
            <div class="steps__description">
              O primeiro dia é dedicado ao planejamento da semana e a <span>conhecer sua ideia.</span>
              <br>
              <a href="#step-2" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-2" class="step-content">
            <img src="/build/img/2016/steps/desenho-das-melhores-solucoes.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/desenho-das-melhores-solucoes.svg'" class="steps__icon" alt="Desenho das melhores soluções no papel"/>
            <div class="steps__description">
              Na segunda etapa, <span>desenhamos telas</span> no papel e decidimos juntos as melhores soluções.
              <br>
              <a href="#step-3" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-3" class="step-content">
            <img src="/build/img/2016/steps/estimativa-de-todas-as-tarefas.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/estimativa-de-todas-as-tarefas.svg'" class="steps__icon" alt="Estimativa de todas as tarefas"/>
            <div class="steps__description">
              Em seguida, estimamos todas as <span>tarefas</span> necessárias para os próximos dias de trabalho.
              <br>
              <a href="#step-4" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-4" class="step-content">
            <img src="/build/img/2016/steps/pontuacao-e-priorizacao-de-tarefas.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/pontuacao-e-priorizacao-de-tarefas.svg'" class="steps__icon" alt="Pontuação e priorização de tarefas"/>
            <div class="steps__description">
              Final do primeiro dia: pontuamos as tarefas e você <span>escolhe a ordem</span> em que serão desenvolvidas.
              <br>
              <a href="#step-5" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-5" class="step-content">
            <img src="/build/img/2016/steps/desenvolvimento-e-execucao-de-tarefas.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/desenvolvimento-e-execucao-de-tarefas.svg'" class="steps__icon" alt="Desenvolvimento e execução de tarefas"/>
            <div class="steps__description">
              Dedicamos os dias seguintes ao <span>desenvolvimento</span> e execução das tarefas na ordem priorizada.
              <br>
              <a href="#step-6" class="read-more" title="Próxima etapa">Próxima etapa</a>
            </div>
          </div>
          <div id="step-6" class="step-content">
            <img src="/build/img/2016/steps/testes-entrega-final.svg" onerror="this.onerror=null; this.src='/build/img/2016/steps/testes-entrega-final.svg'" class="steps__icon" alt="Testes e entrega final"/>
            <div class="steps__description">
              A última etapa é dedicada aos testes e <span>entrega final.</span> Pronto: você sai com seu App na mão!
              <br>
              <a href="#step-1" class="read-more" title="Retornar">Retornar</a>
            </div>
          </div>
          <div id="steps-menu" class="step-1">
            <ul>
              <li class="is-active"><a id="link1" href="#step-1" title="Planejamento da semana e conhecimento da ideia.">1</a></li>
              <li><a id="link2" href="#step-2" title="Desenho das melhores soluções no papel">2</a></li>
              <li><a id="link3" href="#step-3" title="Estimativa de todas as tarefas">3</a></li>
              <li><a id="link4" href="#step-4" title="Pontuação e priorização de tarefas">4</a></li>
              <li><a id="link5" href="#step-5" title="Desenvolvimento e execução de tarefas">5</a></li>
              <li><a id="link6" href="#step-6" title="Testes e entrega final">6</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Graphics -->
    </div>
    <div class="width-limiter investment__inner investment__inner--divider">
      <div class="investment__title-wrapper">
        <img src="/build/img/2016/icon-arrow.svg" class="investment__arrow">
        <h1 class="investment__title">WEB</h1>
      </div>

      <div class="investment__center">
        <ul class="investment__item investment__items">
          <li class="investment__item " data-suffix="+">
            <img src="/build/img/2016/team-icon1.svg" class="investment__icon">
            <h3 class="investment__subheading">Você e 3 Experts</h3>
          </li>

          <li class="investment__item " data-suffix="=">
            <img src="/build/img/2016/calendar-icon.svg" class="investment__icon">
            <h3 class="investment__subheading">1 semana</h3>
          </li>

          <li class="investment__item ">
            <h3 class="investment__subheading">Por apenas:</h3>
            <div class="investment__box">R$ 16.000</div>
          </li>
        </ul>
      </div>

      <div class="investment__button-wrapper">
        <div class="investment__spacer--small">
          <a href="#modal" title="Contrate!" class="btn btn--primary" id="cta-hire-mvp-web">Contrate</a>
        </div>
      </div>
    </div>


    <div class="width-limiter investment__inner">
      <div class="investment__title-wrapper">
        <img src="/build/img/2016/icon-arrow.svg" class="investment__arrow">
        <h1 class="investment__title">
          MOBILE
          <span>iOS/Android</span>
        </h1>
      </div>

      <div class="investment__center">
        <ul class="investment__item investment__items">
          <li class="investment__item " data-suffix="+">
            <img src="/build/img/2016/team-icon1.svg" class="investment__icon">
            <h3 class="investment__subheading">Você e 3 Experts</h3>
          </li>

          <li class="investment__item " data-suffix="=">
            <img src="/build/img/2016/calendar-icon.svg" class="investment__icon">
            <h3 class="investment__subheading">2 semanas</h3>
          </li>

          <li class="investment__item ">
            <h3 class="investment__subheading">Por apenas:</h3>
            <div class="investment__box">R$ 32.000</div>
          </li>
        </ul>
      </div>

      <div class="investment__button-wrapper">
        <div class="investment__spacer--small">
          <a href="#modal" title="Contrate!" class="btn btn--primary" id="cta-hire-mvp-mobile">Contrate</a>
        </div>
      </div>
    </div>


  </div>
</section>

<section class="methodology" id="resultado">
  <div class="methodology__content">

    <span class="methodology__result">resultado</span>
    <h2 class="methodology__title">Metodologia</h2>
    <p class="methodology__description">
      Descubra como sua ideia vira App ou Protótipo <br>
      em uma ou duas semanas de trabalho.
    </p>

    <a class="fancybox methodology__play" href="/videos/apresentation.html" title="Descubra como sua ideia vira App ou Protótipo">
      <span class="icon"></span>
      <span class="text">Assista ao vídeo</span>
    </a>

  </div>
</section>


<section class="testimonials">
  <div class="testimonials__content">

    <span class="testimonials__result">resultado</span>
    <h2 class="testimonials__title">Depoimentos</h2>

    <div class="slider-testimonial">

      <ul class="bxslider">
      {% for testimonial in site.data.testimonials %}

        <li>
          <p class="slider-testimonial__quote">
            {{ testimonial.quote }}
          </p>

          <div class="slider-testimonial__picture">
            <img src="/build/img/avatars/{{ testimonial.picture }}.png" alt="{{ testimonial.author }}">
          </div>

          <div class="slider-testimonial__author">{{ testimonial.author }}</div>
          <div class="slider-testimonial__project">{{ testimonial.project }}</div>
        </li>
        <!-- end quote -->

      {% endfor %}
      </ul>

      <!-- slider controls -->
      <span class="slider-testimonial__prev"></span>
      <span class="slider-testimonial__next"></span>

    </div>
    <!-- slider -->

  </div>

  <div class="testimonials-video">

    <a class="testimonials-video__box fancybox" title="Depoimento de Arthur Granado" href="/videos/arthur-granado.html">
      <figure><img src="/build/img/2016/testimonial1.jpg" alt="Arthur Granado - 21212"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Arthur Granado</span>
        <span class="testimonials-video__project">21212</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" title="Depoimento de Amure Pinho" href="/videos/amure-pinho.html" >
      <figure><img src="/build/img/2016/testimonial2.jpg" alt="Amure Pinho - Amigo Não Se Compra"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Amure Pinho</span>
        <span class="testimonials-video__project">Amigo Não Se Compra</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" title="Depoimento de Cezar Souza" href="/videos/cezar-souza.html">
      <figure><img src="/build/img/2016/testimonial3.jpg" alt="Cezar Souza - VentureOne"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Cezar Souza</span>
        <span class="testimonials-video__project">VentureOne</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" title="Depoimento de Juan Bernabó" href="/videos/juan-bernabo.html">
      <figure><img src="/build/img/2016/testimonial4.jpg" alt="Juan Bernabó - TeamWare"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Juan Bernabó</span>
        <span class="testimonials-video__project">TeamWare</span>
      </div>
    </a>

  </div>

</section>


<section class="projects">
  <div class="projects__content">
    <span class="projects__result">resultado</span>
    <h2 class="projects__title">Sucesso</h2>
    <p class="projects__description">
      Mais de 80 projetos bem sucedidos.
    </p>
  </div>

  <div class="projects__grid">
  {% for project in site.data.projects %}
    <a class="projects__item" href="#" target="_blank" title="Projeto {{ project.name }}">
      <img src="{{ project.image }}" alt="{{ project.name }}" />
      <span class="projects__name">{{ project.name }}</span>
    </a>
  {% endfor %}
  </div>
</section>

{% include contact-modal.html %}

<div class="remodal" data-remodal-id="sent">

  <button data-remodal-action="close" class="btn-modal-close"></button>
  <div class="stdev-form">
    <header id="header" class="stdev-form__heading">
      <img src="/build/img/2016/icn_email_sent.svg"/>
      <h2 class="stdev-form__title">Obrigado</h2>
      <div class="stdev-form__subtitle">Em breve entraremos em contato</div>
    </header>
  </div>

</div>
