<ul>
  <li>
    <img src="/build/img/rumble/evaluators/ale-gomes.png" alt="Alexandre Gomes" />
    <h2>Alexandre Gomes</h2>
    <p><a href="http://www.seatecnologia.com.br/" rel="external">seatecnologia.com.br</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/arthur-granado.png" alt="Arthur Granado" />
    <h2>Arthur Granado</h2>
    <p><a href="http://21212.com" rel="external">21212.com</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/cezar-souza.png" alt="Cezar Souza" />
    <h2>Cezar Souza</h2>
    <p><a href="http://ventureone.com.br" rel="external">ventureone.com.br</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/diego-remus.png" alt="Diego Remus" />
    <h2>Diego Remus</h2>
    <p><a href="http://startupi.com.br" rel="external">startupi.com.br</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/fabio-seixas.png" alt="Fabio Seixas" />
    <h2>Fabio Seixas</h2>
    <p><a href="http://www.camiseteria.com/" rel="external">camiseteria.com</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/felipe-cabral.png" alt="Felipe Cabral" />
    <h2>Felipe Cabral</h2>
    <p><a href="http://engage.is" rel="external">engage.is</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/henrique-bastos.png" alt="Henrique Bastos" />
    <h2>Henrique Bastos</h2>
    <p><a href="http://bastos.net" rel="external">bastos.net</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/james-crane.png" alt="James Crane-Baker" />
    <h2>James Crane-Baker</h2>
    <p><a href="http://smogfarm.com/" rel="external">smogfarm.com</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/joca-torres.png" alt="Joca Torres" />
    <h2>Joca Torres</h2>
    <p><a href="http://guiadastartup.com.br" rel="external">guiadastartup.com.br</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/jonas-maturana.png" alt="Jonas Maturana" />
    <h2>Jonas Maturana</h2>
    <p><a href="https://www.lesspainful.com/" rel="external">lesspainful.com</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/marcos-tapajos.png" alt="Marcos Tapajos" />
    <h2>Marcos Tapajós</h2>
    <p><a href="http://tapajos.me/" rel="external">tapajos.me</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/maurilio-alberone.png" alt="Murilio Alberone" />
    <h2>Maurilio Alberoni</h2>
    <p><a href="http://bizstart.com.br" rel="external">bizstart.com.br</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/nando-vieira.png" alt="Nando Vieira" />
    <h2>Nando Vieira</h2>
    <p><a href="http://hellobits.com" rel="external">hellobits.com</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/paulo-caroli.png" alt="Paulo Caroli" />
    <h2>Paulo Caroli</h2>
    <p><a href="http://www.thoughtworks.com/" rel="external">thoughtworks.com</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/rafael-carvalho.png" alt="Rafael Carvalho" />
    <h2>Rafael Carvalho</h2>
    <p><a href="http://bizstart.com.br" rel="external">bizstart.com.br</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/rodrigoy.png" alt="Rodrigo Yoshima" />
    <h2>Rodrigo Yoshima</h2>
    <p><a href="http://aspercom.com.br" rel="external">aspercom.com.br</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/thiago-lavor.png" alt="Thiago Lavor" />
    <h2>Thiago Lavor</h2>
    <p><a href="http://alavancar.me" rel="external">alavancar.me</a></p>
  </li>
  <li>
    <img src="/build/img/rumble/evaluators/vinicius-teles.png" alt="Vinicius Teles" />
    <h2>Vinicius Teles</h2>
    <p><a href="http://improveit.com.br/" rel="external">improveit.com.br</a></p>
  </li>
</ul>
