<head>
  <meta charset='utf-8'>
  <meta content='desenvolvimento, programação, webapp, aplicativo web, aplicativo, startup' name='keywords'>
  <meta content='O Startup DEV Rumble é uma competição para programadores. Você deve formar times de até 4 pessoas e terá 48h para construir um aplicativo do zero.' name='description'>
  <meta name="viewport" content="width=720, maximum-scale=1.0" />
  <title>{{ page.title }} | Startup DEV RUMBLE</title>
  <link href='/favicon.png' rel='shortcut icon'>
  <link href="/css/reset.css" media="all" rel="stylesheet" />
  <link href="/css/rumble.css" media="all" rel="stylesheet" />

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
  <link rel="stylesheet" href="/css/countdowm/styles.css" />
  <link rel="stylesheet" href="/css/countdown/jquery.countdown.css" />


  {% include head/rumble_javascripts.html %}
</head>



