<nav id="menu">
  <ul>
    <li id="home"{% if page.slug == 'home' %} class="current"{% endif %}><a href="/rumble/pt" title="Início">Início</a></li>
    <li id="rules"{% if page.slug == 'rules' %} class="current"{% endif %}><a href="/rumble/pt/regras" title="Regras">Regras</a></li>
    <li id="faq"{% if page.slug == 'faq' %} class="current"{% endif %}><a href="/rumble/pt/faq" title="Faq">Faq</a></li>
    <li id="prizes"{% if page.slug == 'prizes' %} class="current"{% endif %}><a href="/rumble/pt/premios" title="Prêmios">Prêmios</a></li>
    <li id="evaluators"{% if page.slug == 'evaluators' %} class="current"{% endif %}><a href="/rumble/pt/avaliadores" title="Avaliadores">Avaliadores</a></li>
    <li id="projects"{% if page.slug == 'projects' %} class="current"{% endif %}><a href="/rumble/pt/projetos" title="Projetos">Projetos</a></li>
    <li id="issues"><a href="https://github.com/Helabs/startupdev-rumble/issues" rel="external">Dúvidas</a></li>
  </ul>
</nav>