<nav id="menu">
  <ul>
    <li id="home"{% if page.slug == 'home' %} class="current"{% endif %}><a href="/rumble/en" title="Home">Home</a></li>
    <li id="rules"{% if page.slug == 'rules' %} class="current"{% endif %}><a href="/rumble/en/rules" title="Rules">Rules</a></li>
    <li id="faq"{% if page.slug == 'faq' %} class="current"{% endif %}><a href="/rumble/en/faq" title="Faq">Faq</a></li>
    <li id="prizes"{% if page.slug == 'prizes' %} class="current"{% endif %}><a href="/rumble/en/prizes" title="Prizes">Prizes</a></li>
    <li id="evaluators"{% if page.slug == 'evaluators' %} class="current"{% endif %}><a href="/rumble/en/evaluators" title="Evaluators">Evaluators</a></li>
    <li id="projects"{% if page.slug == 'projects' %} class="current"{% endif %}><a href="/rumble/en/projects" title="Projects">Projects</a></li>
    <li id="issues"><a href="https://github.com/Helabs/startupdev-rumble/issues" rel="external">Issues</a></li>
  </ul>
</nav>