<div class="project">
  <div class="project-title">Agrupe.se</div>
  <div class="left">
    <div class="image">
      <img src="/build/img/rumble/projects/agrupe-se.png" alt="Agrupe.se" />
    </div>
    <div class="launch">
      <a href="http://agrupe.se" class="btn-launch" rel="external">Veja o projeto</a>
    </div>
  </div>
  <div class="right">
    <div class="project-description">
      Use a força dos grupos na busca de descontos no que você realmente precisa!<br />
      Esse não é mais um site de compra coletiva! Aqui você pode formar grupos de compras para o que você realmente está precisando e não para coisas que você não precisa, e na maioria das vezes acaba nem usando seu desconto
    </div>
    <div class="meta-infos">
      <div class="position-comp">1º Lugar</div>
      <div class="commits">152 Commits</div>
      <div class="language">Ruby / Rails</div>
      <div class="team">Time: Agrupe.se</div>
    </div>
    <div class="evaluations">
      <h2>Avaliações</h2>
      <div>
        <strong>Design e interface com usuário</strong>
        <ul>
          <li>Muito bom</li>
          <li>Muito bom</li>
          <li>Muito bom</li>
          <li>Bom</li>
        </ul>
      </div>
      <div>
        <strong>Originalidade e inovação</strong>
        <ul>
          <li>Regular</li>
          <li>Bom</li>
          <li>Bom</li>
          <li>Bom</li>
        </ul>
      </div>
      <div>
        <strong>Utilidade e potencial de mercado</strong>
        <ul>
          <li>Bom</li>
          <li>Bom</li>
          <li>Muito bom</li>
          <li>Muito bom</li>
        </ul>
      </div>
      <div>
        <strong>Funcionamento em plenitude</strong>
        <ul>
          <li>Muito bom</li>
          <li>Bom</li>
          <li>Muito bom</li>
          <li>Bom</li>
        </ul>
      </div>
    </div>
    <div class="team-member">
      <a href="https://github.com/raphaelcosta" rel="external">
        <img src="/build/img/rumble/members/raphaelcosta.jpeg" width="60" alt="Raphael Costa" />
        <p>Raphael Costa</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://github.com/luan" rel="external">
        <img src="/build/img/rumble/members/luan.jpeg" width="60" alt="Luan Santos" />
        <p>Luan Santos</p>
      </a>
    </div>
    <div class="team-member">
      <img src="/build/img/rumble/members/avatar.png" width="60" alt="Ana Rangel" />
      <p>Kenyon Mafuzo</p>
    </div>
  </div>
</div>


<div class="project">
  <div class="project-title">NãoFu.me</div>
  <div class="left">
    <div class="image">
      <img src="/build/img/rumble/projects/naofume.png" alt="NãoFu.me" />
    </div>
    <div class="launch">
      <a href="http://naofu.me" class="btn-launch" rel="external">Veja o projeto</a>
    </div>
  </div>
  <div class="right">
    <div class="project-description">
      Um jeito simples de traçar sua meta para largar de vez o cigarro.<br />
      O NãoFu.me foi criado para ajudar fumantes que precisam de incentivos e metas para largar o vício, é comum os fumantes que fixam uma data gostarem de divulgar suas metas, esperando ajuda e incentivos. Convidar amigos e postar seu progresso pode ser útil! Há quem prefere manter o silencio, caso prefira cadastre-se como perfil privado
    </div>
    <div class="meta-infos">
      <div class="position-comp">2º Lugar</div>
      <div class="commits">379 Commits</div>
      <div class="language">Python / Django</div>
      <div class="team">Time: bigode</div>
    </div>
    <div class="evaluations">
      <h2>Avaliações</h2>
      <div>
        <strong>Design e interface com usuário</strong>
        <ul>
          <li>Regular</li>
          <li>Bom</li>
          <li>Regular</li>
        </ul>
      </div>
      <div>
        <strong>Originalidade e inovação</strong>
        <ul>
          <li>Bom</li>
          <li>Muito bom</li>
          <li>Bom</li>
        </ul>
      </div>
      <div>
        <strong>Utilidade e potencial de mercado</strong>
        <ul>
          <li>Muito bom</li>
          <li>Bom</li>
          <li>Regular</li>
        </ul>
      </div>
      <div>
        <strong>Funcionamento em plenitude</strong>
        <ul>
          <li>Bom</li>
          <li>Bom</li>
          <li>Muito bom</li>
        </ul>
      </div>
    </div>
    <div class="team-member">
      <a href="https://github.com/CiceroComp" rel="external">
        <img src="/build/img/rumble/members/cicerocomp.jpeg" width="60" alt="Cícero Verneck Corrêa" />
        <p>Cícero Verneck Corrêa</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://github.com/pantuza" rel="external">
        <img src="/build/img/rumble/members/pantuza.jpeg" width="60" alt="Gustavo Pantuza" />
        <p>Gustavo Pantuza</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://github.com/vitalbh" rel="external">
        <img src="/build/img/rumble/members/vitalbh.jpeg" width="60" alt="Victor Hubo" />
        <p>Victor Hubo</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://github.com/diogocorrea" rel="external">
        <img src="/build/img/rumble/members/diogocorrea.jpeg" width="60" alt="Diogo Correa" />
        <p>Diogo Correa</p>
      </a>
    </div>
  </div>
</div>


<div class="project">
  <div class="project-title">Games Coming</div>
  <div class="left">
    <div class="image">
      <img src="/build/img/rumble/projects/games-coming.png" alt="Games Coming" />
    </div>
    <div class="launch">
      <a href="http://gamescom.in/" class="btn-launch" rel="external">Veja o projeto</a>
    </div>
  </div>
  <div class="right">
    <div class="project-description">
      Games Coming é um site irado para os gamers ficarem sempre por dentro dos jogos que serão lançados em breve no mercado.<br />
      Veja os jogos, datas de lançamento e outras informações e seja avisado via Twitter ou Email quando o seu jogo for lançado!
    </div>
    <div class="meta-infos">
      <div class="position-comp">3º Lugar</div>
      <div class="commits">325 Commits</div>
      <div class="language">Ruby / Rails</div>
      <div class="team">Time: Avassaladores</div>
    </div>
    <div class="evaluations">
      <h2>Avaliações</h2>
      <div>
        <strong>Design e interface com usuário</strong>
        <ul>
          <li>Bom</li>
          <li>Muito bom</li>
          <li>Bom</li>
        </ul>
      </div>
      <div>
        <strong>Originalidade e inovação</strong>
        <ul>
          <li>Regular</li>
          <li>Bom</li>
          <li>Regular</li>
        </ul>
      </div>
      <div>
        <strong>Utilidade e potencial de mercado</strong>
        <ul>
          <li>Regular</li>
          <li>Bom</li>
          <li>Regular</li>
        </ul>
      </div>
      <div>
        <strong>Funcionamento em plenitude</strong>
        <ul>
          <li>Muito bom</li>
          <li>Muito bom</li>
          <li>Bom</li>
        </ul>
      </div>
    </div>
    <div class="team-member">
      <a href="https://github.com/yogodoshi" rel="external">
        <img src="/build/img/rumble/members/yogodoshi.jpeg" width="60" alt="Cayo Medeiros" />
        <p>Cayo Medeiros</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://github.com/maurogeorge" rel="external">
        <img src="/build/img/rumble/members/maurogeorge.jpeg" width="60" alt="Mauro George" />
        <p>Mauro George</p>
      </a>
    </div>
    <div class="team-member">
      <img src="/build/img/rumble/members/cosmefae.jpeg" width="60" alt="Cosme Faé" />
      <p>Cosme Faé</p>
    </div>
    <div class="team-member">
      <a href="https://github.com/aluisioazevedo" rel="external">
        <img src="/build/img/rumble/members/aluisioazevedo.jpeg" width="60" alt="Aluísio Azevedo" />
        <p>Aluísio Azevedo</p>
      </a>
    </div>
  </div>
</div>

<div class="project">
  <div class="project-title">Flattest</div>
  <div class="left">
    <div class="image">
      <img src="/build/img/rumble/projects/flattest.png" alt="Flattest" />
    </div>
    <div class="launch">
      <a href="http://republi.net/" class="btn-launch" rel="external">Veja o projeto</a>
    </div>
  </div>
  <div class="right">
    <div class="project-description">
      Muitas pessoas tem extrema dificuldade na hora de conseguir um lugar para morar perto da faculdade ou do trabalho. Pensando nisso, criamos um aplicativo onde pessoas com vagas disponíveis possam anunciar com facilidade e pessoas que procuram, encontrar tais vagas.
    </div>
    <div class="meta-infos">
      <div class="position-comp">4º Lugar</div>
      <div class="language">Ruby / Rails</div>
      <div class="commits">154 Commits</div>
      <div class="team">Time: AR602</div>
    </div>
    <div class="evaluations">
      <h2>Avaliações</h2>
      <div>
        <strong>Design e interface com usuário</strong>
        <ul>
          <li>Bom</li>
          <li>Regular</li>
          <li>Bom</li>
        </ul>
      </div>
      <div>
        <strong>Originalidade e inovação</strong>
        <ul>
          <li>Regular</li>
          <li>Regular</li>
          <li>Bom</li>
        </ul>
      </div>
      <div>
        <strong>Utilidade e potencial de mercado</strong>
        <ul>
          <li>Bom</li>
          <li>Bom</li>
          <li>Bom</li>
        </ul>
      </div>
      <div>
        <strong>Funcionamento em plenitude</strong>
        <ul>
          <li>Muito bom</li>
          <li>Muito bom</li>
          <li>Bom</li>
        </ul>
      </div>
    </div>
    <div class="team-member">
      <a href="https://github.com/fbazzarella" rel="external" title="Felipe Bazzarella - fbazzarella">
        <img src="/build/img/rumble/members/bazzarella.jpeg" width="60" alt="bazzarella" />
        <p>fbazzarella</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://github.com/rrmartins" rel="external" title="Rodrigo Martins - rrmartins">
        <img src="/build/img/rumble/members/rodrigo-martins.png" width="60" alt="rodrigo-martins" />
        <p>rrmartins</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://github.com/savini" rel="external" title="Marcus Sá - savini">
        <img src="/build/img/rumble/members/savini.jpeg" width="60" alt="savini" />
        <p>savini</p>
      </a>
    </div>
  </div>
</div>
