<section class="clients" id="clients">
    <div class="clients__content">
        <h2 class="clients__title">Clientes</h2>
        <p class="clients__description">Lorem ipsum dolor sit amet.</p>
    </div>

    <div id="owl-carousel" class="owl-carousel clients__grid">

        <div class="item">
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
        </div>

        <div class="item">
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
        </div>

        <div class="item">
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
        </div>

        <div class="item">
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
        </div>

        <div class="item">
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
        </div>

        <div class="item">
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
            <a class="clients__item" href="#" target="_blank" title="Projeto"></a>
        </div>

    </div>

</section>


<!--{% for project in site.data.clients %}
<a class="clients__item" href="#" target="_blank" title="Projeto {{ project.name }}">
    <img src="{{ project.image }}" alt="{{ project.name }}" />
    <span class="clients__name">{{ project.name }}</span>
</a>
{% endfor %}-->