<div data-remodal-id="modal">

  <button data-remodal-action="close" class="btn-modal-close"></button>

  <form id="form47" name="form47" class="wufoo stdev-form js-register-form-en" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://helabs.wufoo.com/forms/r1xb9mce1iyh2su/#public">

    <header id="header" class="stdev-form__heading">
      <h2 class="stdev-form__title">Let's talk?</h2>
      <div class="stdev-form__subtitle">Use the form below to receive a commercial proposal of the Startup DEV:</div>
    </header>

    <ul>

      <div class="stdev-form__group">
        <li id="foli43" class="stdev-form__column stdev-form__item notranslate">
          <span>
            <label class="error" for="Field43" generated="true"></label>
            <input placeholder="Name:" id="Field43" name="Field43" type="text" class="field text fn" value="" size="8" tabindex="1"       required />
          </span>
        </li>

        <li class="stdev-form__column stdev-form__item notranslate">
          <label class="error" for="Field44" generated="true"></label>
          <span>
            <input placeholder="Lastname:" id="Field44" name="Field44" type="text" class="field text ln" value="" size="14" tabindex="2" required />
          </span>
        </li>
      </div>

      <div class="stdev-form__group">
        <li id="foli3"  class="stdev-form__column stdev-form__item notranslate">
          <label class="error" for="Field3" generated="true"></label>
          <div>
            <input placeholder="E-mail:" id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3"       required />
          </div>
        </li>

        <li id="foli16" class="stdev-form__column stdev-form__item notranslate">
          <label class="error" for="Field16" generated="true"></label>
          <div>
            <input placeholder="Phone Number:" id="Field16" name="Field16" type="text" class="field text medium" value="" maxlength="255" tabindex="4" onkeyup=""        />
          </div>
        </li>
      </div>



      <li id="foli41" class="stdev-form__group stdev-form__item notranslate">
        <label class="error" for="Field41" generated="true"></label>
        <div>
          <input placeholder="Project:" id="Field41" name="Field41" type="text" class="field text medium" value="" maxlength="255" tabindex="5" onkeyup=""       required />
        </div>
      </li>

      <li id="foli52" class="stdev-form__group stdev-form__item notranslate">
        <label class="error" for="Field52" generated="true"></label>
        <div>
          <input placeholder="Skype:" id="Field52" name="Field52" type="text" class="field text medium" value="" maxlength="255" tabindex="6" onkeyup=""/>
        </div>
      </li>

      <li id="foli48" class="stdev-form__group stdev-form__item notranslate">
        <label class="error" for="Field48" generated="true"></label>
        <div>
          <textarea placeholder="Describe your project:" id="Field48" name="Field48" class="field textarea medium" spellcheck="true" rows="6" cols="50" tabindex="7" onkeyup="" required></textarea>
        </div>
      </li>

      <li class="buttons ">
        <div>
          <input id="saveForm" name="saveForm" class="btTxt submit js-btn-submit btn btn--primary" type="submit" value="Submit"/>
        </div>
      </li>

      <li class="hide">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="egQ4c9FvVXbXWTBHWFZayr/1lWSXyKzzJ1k2umP+ahY=" />
        <input type="hidden" id="Field54" name="Field54" value="en/#sent" />
      </li>

    </ul>

  </form>

</div>
