<div class="remodal" data-remodal-id="contact-modal">
  <button data-remodal-action="close" class="remodal-close"></button>
	<form action="https://simple-form.com/contato@mw8solucoes.com.br" method="post">
		<fieldset>

			<input type="text" name="name" id="name" required placeholder="Nome">

			<input type="email" name="email" id="email" required placeholder="E-mail">

			<input type="text" name="assunto" id="assunto" required placeholder="Assunto">

			<textarea rows="6" cols="50" id="message" name="msg" required placeholder="Mensagem"></textarea>

                    <input type="submit" name="submit" value="Enviar" class="btn-contact">

		</fieldset>
	</form>
</div>
