<footer class="footer">
  <div class="footer__content">
    <div class="footer-universo">
      <figure class="footer__image">
        <img src="/build/img/2016/logo.png" alt="Universo MW8">
      </figure>
      <span class="footer__copyright">© {{ site.time | date: '%Y' }} Copyright</span>
      <div class="footer-suport footer-suport__desktop">
        <address>
          <h1 class="footer__title">Suporte</h1>
          <hr class="footer__title__line">
          <p class="footer-suport__info"><strong>0800 004 9393</strong> Segunda á sexta 08:00 ás 18:00</p>
          <span class="footer-suport__email">suporte@mw8solucoes.com.br</span>
        </address>
      </div>
    </div>
    <div class="footer-address">
      <address class="footer-address__salvador">
        <h1 class="footer__title">Salvador</h1>
        <hr class="footer__title__line">
        Rua Passárgada, Nº 2 Itapuã •<br>
        Salvador/BA <br>
        CEP 41620-430 <br>
        (71) 3019 9888
      </address>
      <address class="footer-address__saopaulo">
        <h1 class="footer__title">São Paulo</h1>
        <hr class="footer__title__line">
        Rua Padre Machado, 455 • Cj 55 <br>
        Bosque da Saúde • São Paulo/SP <br>
        CEP 04127-000 <br>
        (11) 3539 7581
      </address>
    </div>
    <div class="footer-social">
      <ul>
          <a href="http://www.github.com/universomw8" target="_blank" title="Github">
            <li class="footer-social__icon">
                <img src="/build/img/2016/social-icon-github.svg" alt="Github" title="Github">
            </li>
          </a>

        <a href="http://www.linkedin.com/company/universomw8" target="_blank" title="Linkedin">
          <li class="footer-social__icon">
              <img src="/build/img/2016/social-icon-linkedin.svg" alt="Linkedin" title="Linkedin">
          </li>
         </a>

        <a href="http://www.instagram.com/universomw8" target="_blank" title="Instagram">
          <li class="footer-social__icon">
              <img src="/build/img/2016/social-icon-instagram.svg" alt="Instagram" title="Instagram">
        </li>
        </a>

      <a href="http://www.facebook.com/universomw8/" target="_blank" title="Facebook">
        <li class="footer-social__icon">
            <img src="/build/img/2016/social-icon-facebook.svg" alt="Facebook" title="Facebook">
        </li>
      </a>

      <a href="http://www.twitter.com/universomw8" target="_blank" title="Twitter">
          <li class="footer-social__icon">
              <img src="/build/img/2016/social-icon-twitter.svg" alt="Twitter" title="Twitter">
        </li>
      </a>

      </ul>
    </div>
  </div>
</footer>
