<footer class="footer">

  <div class="footer-one">
    <div class="footer__content">
      <div class="footer-one__heading">
        <span class="footer-one__subtitle">
          We are a team of product thinkers, designers and developers experts.
        </span>
        <h2 class="footer-one__title">
          Launch your Startup faster with us!
        </h2>
      </div>
      <a href="#modal" title="Hire Us" class="btn btn--secondary" id="cta-hire-footer">Hire Us</a>
    </div>
  </div>

  <div class="footer-two">

    <div class="footer__content">

      <div class="footer-social">
        <ul>
          <li class="footer-social__icon">
            <a href="http://github.com/Helabs" target="_blank" title="Github"><img src="/build/img/2016/social-icon-github.svg" alt="Github"></a>
          </li>
          <li class="footer-social__icon">
            <a href="http://www.linkedin.com/company/helabs" target="_blank" title="Linkedin"><img src="/build/img/2016/social-icon-linkedin.svg" alt="Linkedin"></a>
          </li>
          <li class="footer-social__icon">
            <a href="http://instagram.com/he.labs" target="_blank" title="Instagram"><img src="/build/img/2016/social-icon-instagram.svg" alt="Instagram"></a>
          </li>
          <li class="footer-social__icon">
            <a href="http://www.facebook.com/helabs/" target="_blank" title="Facebook"><img src="/build/img/2016/social-icon-facebook.svg" alt="Facebook"></a>
          </li>
          <li class="footer-social__icon">
            <a href="http://twitter.com/helabs" target="_blank" title="Twitter"><img src="/build/img/2016/social-icon-twitter.svg" alt="Twitter"></a>
          </li>
        </ul>
      </div>

      <p class="footer-two__copyright">© {{ site.time | date: '%Y' }} | Made with ❤ at <a href="http://helabs.com/pt" title="HE:labs" rel="external">Universo MW</a>, a full-stack company specialist in mobile and web software development.</p>

    </div>

  </div>

</footer>
