<footer class="footer">
  <div class="footer__content">
    <div class="footer-universo">
      <figure class="footer__image">
        <img src="/build/img/2016/logo.png" alt="Universo MW8">
      </figure>
      <p class="footer__copyright">© {{ site.time | date: '%Y' }} Copyright</p>
    </div>
    <div class="footer-andress">
      <address class="footer-andress__salvador">
        <h1 class="footer__title">Salvador</h1>
        Rua Passárgada, Nº 2, Itapuã • <br>
        Salvador / BA • CEP 41620-430 <br>
        (71) 3019 98888
      </address>

      <address class="footer-address__saopaulo">
        <h1 class="footer__title">São Paulo</h1>
        Rua Padre Machado, 455 • Cj 55 <br>
        Bosque da Saúde • São Paulo / SP <br>
        CEP 04127-000 <br>
        (11) 3539 7581
      </address>
    </div>
    <div class="footer-social">
      <ul>
        <li class="footer-social__icon">
          <a href="http://github.com/universomw8" target="_blank" title="Github">
            <img src="/build/img/2016/social-icon-github.svg" alt="Github">
          </a>
        </li>

        <li class="footer-social__icon">
          <a href="http://www.linkedin.com/company/universomw8" target="_blank" title="Linkedin">
            <img src="/build/img/2016/social-icon-linkedin.svg" alt="Linkedin">
          </a>
        </li>

        <li class="footer-social__icon">
          <a href="http://instagram.com/universomw8" target="_blank" title="Instagram">
            <img src="/build/img/2016/social-icon-instagram.svg" alt="Instagram">
          </a>
        </li>

        <li class="footer-social__icon">
          <a href="http://www.facebook.com/universomw8/" target="_blank" title="Facebook">
            <img src="/build/img/2016/social-icon-facebook.svg" alt="Facebook">
          </a>
        </li>

        <li class="footer-social__icon">
          <a href="http://twitter.com/universomw8" target="_blank" title="Twitter">
            <img src="/build/img/2016/social-icon-twitter.svg" alt="Twitter">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
