<header class="header" id="home-section">
    <div class="header__content">
        <a class="header__logo" href="" title="Universo MW8"></a>
        <a class="btn-toggle js-toggle-menu" href="#" title="Menu Principal">
            <span>Menu</span>
        </a>
        <nav class="header-navigation js-navbar" role="navigation">
            <ul id="js-navigation-menu">
                <li class="header-navigation__item">
                    <a class="hash" title="" href="">Serviços</a>
                </li>
                <li class="header-navigation__item">
                    <a class="hash" title="" href="">Portifolio</a>
                </li>
                <li class="header-navigation__item">
                    <a class="hash" title="" href="">Quem Somos</a>
                </li>
                <li class="header-navigation__item">
                    <a class="hash" title="" href="">Contato</a>
                </li>
                <li class="header-navigation__item">
                    <a class="hash" title="" href="">Blog</a>
                </li>
                <li class="header-navigation__item">
                    <a title="EN" href="/en">EN</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
