<header class="header" id="home-section">
    <div class="header__content">
        <a class="header__logo" href="" title="Universo MW8"></a>
        <a class="btn-toggle js-toggle-menu" href="#" title="Menu Principal">
            <span>Menu</span>
        </a>
        <nav class="header-navigation js-navbar" role="navigation">
            <ul id="js-navigation-menu">
                <li class="header-navigation__item">
                    <a class="" title="" href="#services">O que fazemos</a>
                </li>
                <li class="header-navigation__item">
                    <a class="" title="" href="#portfolio">Portfólio</a>
                </li>
                <li class="header-navigation__item">
                    <a class="" title="" href="#partners">Parceiros</a>
                </li>
                <li class="header-navigation__item">
                    <a class="" title="" href="#about">Nosso time</a>
                </li>
                <li class="header-navigation__item">
                    <a class="" title="" data-remodal-target="contact-modal" href="#contact-modal">Contato</a>
                </li>
                <!--<li class="header-navigation__item">
                    <a class="" title="" href="">Blog</a>
                </li>-->
                <!--<li class="header-navigation__item">
                    <a title="EN" href="/en">EN</a>
                </li>-->
            </ul>
        </nav>
    </div>
</header>
