<section class="main-banner" id="home" role="banner">
    <div class="main-banner__mask">
      <div class="main-banner__mask--banner" style="background-image: url('http://tympanus.net/Tutorials/CSSMaskTransition/img/urban-3.jpg')"></div>
    </div>


    <div class="main-banner__content">
        <div class="main-banner__content--item">
            <h1 class="main-banner__h1">De pessoas<br/> para pessoas</h1>
             <h2 class="main-banner__h2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique a quis, est ratione libero ex sapiente dicta ut labore, quaerat.
            </h2>
        </div>
        <div class="main-banner__content--item">

        </div>
        <div class="main-banner__content--item">
            <a class="main-banner__scroll-page js-main-scroll-page" href="#services" title="Clique para rolar a pagina" alt="Clique para rolar a pagina, para a seção de serviços."></a>
        </div>
    </div>
    <div class="main-banner__tablet">
        <img src="/build/img/2016/solucoes-desenvolvimento-design.png" alt="Soluções de desenvolvimento e design">
    </div>
</section>
