<section class="main-banner" id="home" role="banner">
  <div class="main-banner__mask">
    <div class="main-banner__mask__content">
      <div class="main-banner__video">
        <video class="main-banner__mask__content--is-video" poster="/build/img/background-img-video.png"
          playsinline autoplay muted loop>
          <source src="/build/videos/ambientemw8.m4v" type="video/mp4">
        </video>
      </div>
      <div class="main-banner__tablet" style="background-image: url('')"></div>
    </div>
  </div>
  <div class="main-banner__content">
    <div class="main-banner__content--item">
      <h1 class="main-banner__h1">De pessoas<br/></h1>
      <h2 class="main-banner__h2">apaixonadas por <span class="js-typewriter-element"></span></h2>
      <h1 class="main-banner__h1_2"> para pessoas </h1>
    </div>
    <div class="main-banner__content--item">
    </div>
    <div class="main-banner__content--item">
      <!-- <a class="main-banner__scroll-page" href="#services" title="Clique para rolar a pagina" alt="Clique para rolar a pagina, para a seção de serviços."></a> -->
    </div>
  </div>
</section>
