<nav id="menu-en" class="js-menu">
  <ul>
    <li class="home" title="Home"><a href="#home-section">Home</a></li>
    <li class="video" title="Video"><a href="#video-container">Video</a></li>
    {% if site.schedule.enabled %}
      <li class="agenda" title="Calendar"><a href="#schedule">Calendar</a></li>
    {% endif %}
    <li class="statements" title="Testimonials"><a href="#testimonials">Testimonials</a></li>
    <li class="projects" title="Projects"><a href="#developed-projects">Projects</a></li>
    <li class="what-is-it" title="How it works"><a href="#what-is-startup-dev">How it works</a></li>
    <li class="portuguese" title="Portuguese Version"><a href="/">Versão em</a></li>
  </ul>
</nav>