<nav id="menu" class="js-menu">
  <ul>
    <li class="home" title="Início"><a href="#home-section">Inicio</a></li>
    <li class="video" title="Vídeo"><a href="#video-container">Vídeo</a></li>
    {% if site.schedule.enabled %}
      <li class="agenda" title="Agenda"><a href="#schedule">Agenda</a></li>
    {% endif %}
    <li class="statements" title="Depoimentos"><a href="#testimonials">Depoimentos</a></li>
    <li class="projects" title="Projetos"><a href="#developed-projects">Projetos</a></li>
    <li class="what-is-it" title="Como funciona"><a href="#what-is-startup-dev">Como Funciona</a></li>
    <li class="english" title="English Version"><a href="/en">Version</a></li>
  </ul>
</nav>