<section class="portfolio" id="portfolio">
    <div class="portfolio__content">
        <h2 class="portfolio__title">Portfólio</h2>
        <p class="portfolio__description">Cases</p>
    </div>

    <!--<ul class="portfolio__filter">
        <li class="portfolio__filter__item">
            <a class="filter filter-visible portfolio__filter__cat" data-filter="all" href="#0">TODOS</a>
        </li>
        <li class="portfolio__filter__item">
            <a class="filter portfolio__filter__cat" data-filter=".content" href="#0">CONTEÚDO</a>
        </li>
        <li class="portfolio__filter__item">
            <a class="filter portfolio__filter__cat" data-filter=".screen" href="#0">TELAS</a>
        </li>
        <li class="portfolio__filter__item">
            <a class="filter portfolio__filter__cat" data-filter=".event" href="#0">EVENTOS</a>
        </li>
        <li class="portfolio__filter__item">
            <a class="filter portfolio__filter__cat" data-filter=".other" href="#0">OUTROS</a>
        </li>
    </ul>-->

    <div class="portfolio__grid">
    {% for project in site.data.projects %}
        <a class="portfolio__item mix {{project.category}}" href="#" target="_blank" title="Projeto {{ project.name }}" style="background-image:url('{{ project.image }}')">
            <!--<span class="portfolio__name">{{ project.name }}</span>-->
        </a>
    {% endfor %}
    </div>
</section>


