<section class="service service__background" id="services">
  <div class="service__content">
      <h2 class="service__title">Como nos divertimos</h2>
      <p class="service__description">Realizamos grandes idéias. O tempo todo!</p>
  </div>
  <div class="service__processes">
      <article class="service__processes--item">
          <div class="service__processes--icon service__processes--icon__search"></div>
          <a href="#"" title="" alt=""> <p class="service__processes--text"> pesquisa </p> </a>
      </article>
      <article class="service__processes--item">
          <div class="service__processes--icon service__processes--icon__write"></div>
          <a href="#" title="" alt=""> <p class="service__processes--text">protótipo</p> </a>
      </article>
      <article class="service__processes--item">
          <div class="service__processes--icon service__processes--icon__ok"></div>
          <a href="#" title="" alt=""> <p class="service__processes--text">validação</p> </a>
      </article>
      <article class="service__processes--item">
          <div class="service__processes--icon service__processes--icon__setting"></div>
          <a href="#" title="" alt=""> <p class="service__processes--text">desenv.</p> </a>
      </article>
  </div>
  
  <div style="" class="saibamais-oquefazemos">
  <a href="#modal-oquefazemos" data-remodal-target="modal-oquefazemos" title="" alt="" >saiba mais</a>
  </div>

</section>
