<section class="service service__background" id="services">
  <div class="service__content">
    <h2 class="service__title">Como nos divertimos</h2>
    <p class="service__description">Realizamos grandes idéias. O tempo todo!</p>
  </div>
  <div class="service__processes">
    <article class="service__processes--item">
      <div class="service__processes--icon service__processes--icon__search"></div>
      <a href="#"" title="" alt=""> <p class="service__processes--text"> idealizamos </p> </a>
    </article>
    <article class="service__processes--item">
      <div class="service__processes--icon service__processes--icon__write"></div>
      <a href="#" title="" alt=""> <p class="service__processes--text"> damos vida </p> </a>
    </article>
    <article class="service__processes--item">
      <div class="service__processes--icon service__processes--icon__ok"></div>
      <a href="#" title="" alt=""> <p class="service__processes--text">  conte-nos </p> </a>
    </article>
    <article class="service__processes--item">
      <div class="service__processes--icon service__processes--icon__setting"></div>
      <a href="#" title="" alt=""> <p class="service__processes--text"> tornamos realidade </p> </a>
    </article>
  </div>

  <div class="service__saibamais-oquefazemos">
    <a href="#modal-oquefazemos" data-remodal-target="modal-oquefazemos" title="" alt="" >saiba mais</a>
  </div>

  <div class="remodal modal-oquefazemos" data-remodal-id="modal-oquefazemos"  >
    <button data-remodal-action="close" class="remodal-close"></button>

    <article class="modal-oquefazemos__pesquisa">
      <figure> </figure>
      <h1>Idealizamos</h1>
      <p>Já ouviu falar em Consultoria Criativa? Tem uma necessidade e quer apostar em algo inovador? Opa! Chegou no lugar certo! Faremos alguns encontros para viajar com você e idealizar um projeto inovador. Se você quiser divertir o nosso time, joga o desafio pra cá! Caso contrário, estaremos torcendo para o seu sucesso. Não esqueça de voltar para nos dar notícias!</p>
    </article>

    <article class="modal-oquefazemos__damosvida">
      <figure> </figure>
      <h1>Damos Vida</h1>
      <p>Se você tem uma ideia ou já se encontrou com o nosso time de Consultoria Criativa, estamos nessa fase de diversão!! Nosso time de especialistas em TI, Conteúdo, Infraestrutura e concretização de sonhos vai adorar materializar essa ideia massa que você teve!!</p>
    </article>

    <article class="modal-oquefazemos__nosconte">
      <figure> </figure>
      <h1>Nos conte o que achou</h1>
      <p>Conta pra gente o que você achou do que as nossas cabeças inquietas planejaram para você! </p>
    </article>

    <article class="modal-oquefazemos__tornamosrealidade">
      <figure> </figure>
      <h1>Tornamos realidade</h1>
      <p>Uhu! Agora você faz parte do nosso time! Vamos começar o nosso projeto!</p>
    </article>

  </div>
</section>
