<section class="service service__background" id="services">
  <div class="service__content">
      <h2 class="service__title">O que fazemos</h2>
      <p class="service__description">Realizamos grandes idéias. O tempo todo!</p>
  </div>
  <div class="service__processes">
      <article class="service__processes--item">
          <div class="service__processes--icon service__processes--icon__search"></div>
          <p class="service__processes--text">pesquisa</p>
      </article>
      <article class="service__processes--item">
          <div class="service__processes--icon service__processes--icon__write"></div>
          <p class="service__processes--text">protótipo</p>
      </article>
      <article class="service__processes--item">
          <div class="service__processes--icon service__processes--icon__ok"></div>
          <p class="service__processes--text">validação</p>
      </article>
      <article class="service__processes--item">
          <div class="service__processes--icon service__processes--icon__setting"></div>
          <p class="service__processes--text">desenv.</p>
      </article>
  </div>
</section>
