<section class="showreel" id="showreel">
  <div class="showreel__content">
    <h2 class="showreel__title">Showreel</h2>
    <p class="showreel__description">Entenda como a gente está mudando o mundo.</p>
    <a class="showreel__play" href="#modal" data-remodal-target="modal" title="Pode entrar e seja bem vindo a nossa casa!">
        <img class="icon" src="/build/img/play.png" alt="Aperte o Play">
    </a>
  </div>
</section>

<div class="remodal" data-remodal-id="modal">
  <!-- <button data-remodal-action="close" class="remodal-close"></button> -->
  <!-- <iframe width="650" height="488" src="https://www.youtube.com/embed/WP_xiqlGI7Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->
  <iframe src="//player.vimeo.com/video/171833335" width="650" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
