.about {
  @include span-columns(12);
    min-height: 100vh;
    clear: both;
    position: relative;
    overflow: hidden;

    &__content {
      position:relative;
      max-width: 60%;
      min-height: 100vh;
      text-align: center;
      margin: 0 auto;
      padding-top: rem(70);
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(space-around);
      //background: rgba(#fff, 0.5);
      @include media($screen-small) {}

    }

    &__title {
      // position: absolute;
      top: 0;
      color: $white;
      font-family: $heading-font-family;
      font-size: rem(58);
      font-weight: 900;
      text-transform: uppercase;
      margin-top: rem(150);
      margin-bottom: rem(10);

      @include media($screen-small) {
        font-size: rem(30);
        margin-top: rem(180);
      }
    }

    &__subtitle {
      // position: absolute;
      // top: 13.5rem;
      max-width: 24rem;
      font-size: 1.575rem;
      font-weight: 300;
      text-align: center;
      color: $supernova;
      font-family: $heading-font-family;
      font-weight: 300;
      text-align: center;

      @include media($screen-small) {
        font-size: rem(14);
      }
    }

  &-banner {
    overflow: hidden;
    position: relative;
    &__mask {
      overflow: hidden;
      position: absolute;

      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 50% 50% 0 0;
        border: 65px solid #ffffff;
        border-bottom: 0;
        box-shadow: 0 -34.5rem 0 0 #28ead7;
        top: 10px;
        height: 800vh;
        width: 250vw;
        margin-left: -125vw;
      }

      &--banner{
          overflow: hidden;
          // height: 200vh;
          // min-height: 100vh;
          padding: 200vh 0;
          width: 100vw;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          background-color: #4d6f85;
          background-blend-mode: multiply;

        &:after{
          content: "";
          position: absolute;
          top: 0px;
          left: 50%;
          border-radius: 50% 50% 0 0;
          border: 6rem solid #ffffff;
          border-bottom: 0;
          box-shadow: none;
          height: 630vh;
          width: 200vw;
          margin-left: -100vw;
          @include media($screen-small) {
            width: auto;
          }
        }
      }
    }
  }

  &__team {
    @include span-columns(7 of 12);
    margin-top: rem(30);
    width: 73%;
    //background: red;

    /* ul {
      display: flex;
      justify-content: center;
    }
    */

    @include media($screen-small) {
      //width: rem(265px);
    }
  }

    /** @type {[type]} [description]
    width: 170px;
    height: 200px;
    background: red;
    float: left;
    margin: 1em;
    */

      &__info{
        width: 150px;
        height:50px;
        background: white;
        position: absolute;
        bottom: 0;
        top: 120px;
        opacity: 0;
        transition: .2s linear;
          &:hover{
            opacity: .7;
            top: 100px;
            transition: .2s linear;
            //-webkit-transition: all 1s linear .5s;
            //-moz-transition: all 1s linear .5s;
            //-ms-transition: all 1s linear .5s;
            //-o-transition: all 1s linear .5s;
          }
        &__name {
          color: #333;
          margin: 8px 0 0 0;
          font-weight: bold;
          //display: inline-block;
          //padding: 0.1em .6em;
         // line-height: inherit;
        }
        &__funcao{
          //clear:both;
          color: #333;
          font-weight: bold;
          //display: inline-block; #0d6158
          //font-size: .8em;
         // padding: 0.1em .6em;
         // line-height: inherit;
        }
      }

  &__box{
    width: 150px;
    float: left;
    margin: 0 2% 2% 0;
    background: white;
    position: relative;

       .image {
        &__circle {
          @include span-columns(6 of 12);
          @include size(150px);
          border: 3px solid $supernova;
          //border-radius: 50%;
          //margin: 0 10px 5px 30px;

          @include media($screen-small) {
            @include size(150px);
              //margin: 0 10px 5px 30px;
          }
        }

        &:hover {
          //transition: ease-out 1s;
        }

    }
  }

}



