.about {
  @include span-columns(12);
    min-height: 100vh;
    clear: both;
    position: relative;
    overflow: hidden;

    &__content {
      position:relative;
      max-width: 90%;
      min-height: 100vh;
      text-align: center;
      margin: 0 auto;
      padding-top: rem(70);
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(space-around);
      //background: rgba(#fff, 0.5);
      @include media($screen-small) {}

    }

    &__title {
      // position: absolute;
      top: 0;
      color: $white;
      font-family: $heading-font-family;
      font-size: rem(58);
      font-weight: 900;
      text-transform: uppercase;
      margin-top: rem(450);
      margin-bottom: rem(10);

      @include media($screen-small) {
        font-size: rem(30);
        margin-top: rem(180);
      }
    }

    &__subtitle {
      // position: absolute;
      // top: 13.5rem;
      max-width: 24rem;
      font-size: 1.575rem;
      font-weight: 300;
      text-align: center;
      color: $supernova;
      font-family: $heading-font-family;
      font-weight: 300;
      text-align: center;

      @include media($screen-small) {
        font-size: rem(14);
      }
    }

  &-banner {
    overflow: hidden;
    position: relative;
    &__mask {
      overflow: hidden;
      position: absolute;

      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        border-radius: 50% 50% 0 0;
        border: 65px solid #ffffff;
        border-bottom: 0;
        box-shadow: 0 -34.5rem 0 0 #28ead7;
        top: 10px;
        height: 800vh;
        width: 250vw;
        margin-left: -125vw;
      }

      &--banner{
          overflow: hidden;
          // height: 200vh;
          // min-height: 100vh;
          padding: 200vh 0;
          width: 100vw;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          background-color: #4d6f85;
          background-blend-mode: multiply;

        &:after{
          content: "";
          position: absolute;
          top: 0px;
          left: 50%;
          border-radius: 50% 50% 0 0;
          border: 6rem solid #ffffff;
          border-bottom: 0;
          box-shadow: none;
          height: 630vh;
          width: 200vw;
          margin-left: -100vw;
          @include media($screen-small) {
            width: auto;
          }
        }
      }
    }
  }

  &__team {
    //@include span-columns(12 of 12);
    margin-top: rem(90);
    width: 90%;
    //border:1px solid red;
    margin-bottom:120px;
    padding:1.1em 1.1em 0 4.5em;
     @include media($screen-medium) {
        }
      @include media($screen-tiny){
        padding:0 0 0 2em;
      }
    }

      &__info{
        width: 150px;
        height:0;
        background: white;
        position: absolute;
        bottom: 0;
        transition: .2s linear;
        opacity: 0;
         @include media($screen-small) {
            width: 100px;
          }
          &__name {
            color: #333;
            margin: 8px 0 0 0;
            font-weight: bold;
            @include media($screen-small) {
                font-size:0.650rem;
              }
          }
          &__funcao{
            color: #333;
            font-weight: bold;
            font-size:0.700rem;
          }
      }

  &__box{
    width: 150px;
    float: left;
    position: relative;
     @include media($screen-small) {
      width: 100px;
      float: left;
    }
    &:hover{
      cursor: pointer;
    }
    &:hover .about__info{
      height: auto;
      opacity: .8;
      transition: .2s linear;
    }
       .image {
        &__circle {
          @include span-columns(12 of 12);
          @include size(150px);;

          @include media($screen-small) {
            @include size(100px);
          }
        }
    }
  }

}



