// *************************************
//
//   Footer
//
// *************************************

.footer {
  @include span-columns(12);
  background: $nightrider;

  &__content {
    // @include outer-container();
    @include span-columns(12);
    @include media($screen-small) {
      @include pad($base-spacing);
      text-align: center;
    }
  }

  @include fill-parent;
  @include pad(rem(50) 0);

  &__heading {
    @include span-columns(8 of 12);
    font-family: $base-font-family;
    @include media($screen-small) {
      @include span-columns(12);
      text-align: center;
    }
  }

    &__image {
    width: rem(96px);
    margin-left: rem(80px);
    @include media($screen-small){
      margin: 0 auto;
    }
  }

  &__copyright {
    @include span-columns(8 of 12);
    text-align: left;
    margin-left: rem(80px);
    font-weight: 300;
    @include media($screen-small) {
      @include span-columns(12);
      padding: $small-spacing;
      text-align: center;
      margin-left: 0;
    }
  }

  &__title {
    color: $supernova;
    font-size: rem(18);
    font-weight: 400;
    @include media($screen-small) {
      font-size: rem(25);
    }

    &__line {
      position: relative;
      border-bottom: 1px solid $supernova;
      top: rem(-12px);
      max-width: rem(45px);
      @include media($screen-small){
        margin: 0 auto;
      }
    }
  }

}

.footer-universo {
  position: relative;
  @include span-columns(4 of 12);
  @include media ($screen-small) {
  @include span-columns(12);
  }

  .footer-suport {
    @include media($screen-small){
      margin:0;
    }
    position: relative;
    // font-weight: 300;
    font-size: rem(14);
    margin-top: rem(45px);
    margin-left: rem(80px);
    margin-bottom: rem(10px);
    &__info {
      @include media($screen-small){
        margin-bottom: rem(5px);
      }
      font-weight: 300;
      strong {
        font-weight: 600;
      }
    }

    &__email {
      @include span-columns(8 of 12);
      line-height: 0px;
      font-weight: 600;
      @include media($screen-small) {
        margin:0 auto;
        width:0;
        @include span-columns(12);
        padding: 0.5em 0 1.5em 0;
      }
    }
  }

}

.footer-address {
  @include span-columns(4 of 12);
  font-weight: 300;

  &__salvador {
    @include span-columns(2 of 4);
  }

  &__saopaulo {
    @include span-columns(2 of 4);
  }

  @include media($screen-small) {
    @include span-columns(12);
  }
}

.footer-social {
  @include span-columns(4 of 12);
  float: right;
  text-align: right;
  ul {
    position: relative;
    min-width: rem(180px);
    margin-right: rem(160px);
    top: rem(45px);
  }
  @include media($screen-small) {
    margin:0 auto;
    text-align: center;
    padding:1em 0 0 0;
    @include span-columns(12);
    ul{
      margin:0;
      position:relative;
      top:0;
    }
  }

  &__icon {
    display: inline-block;
    padding-right: rem(10px);
    width: rem(35px);
    color: $supernova;
    &:last-child {
      padding: 0;
    }
  }

}
