// *************************************
//
//   Header
//
// *************************************

$fg-column: 60px;             // Column Width
$fg-gutter: 25px;             // Gutter Width
$fg-max-columns: 12;          // Total Columns For Main Container

.header {
  @include transition(.5s);
  width: 100%;
  position: fixed;
  z-index: 900;
  &__content {
    width: flex-grid(12);        // returns (315px / 1020px) = 30.882353%;
  }

  &__logo {
    @include size(rem(168) rem(44));
    background: url('/build/img/2016/logo.png') no-repeat top center;
    background-size:contain;
    display: block;
    float: left;
    margin-top: rem(28);
    margin-bottom: rem(28);
    margin-left: flex-gutter(); // returns (25px / 1020px) = 2.45098%;
    @include media($screen-small) {
      @include size(rem(43) rem(54));
      margin: rem(12);
      background-size: initial;
      background-position: 0 0;
    }
  }
}

// Navigation
.header-navigation {
  float: right;
  margin-right: flex-gutter(); // returns (25px / 1020px) = 2.45098%;
  margin-top: rem(37.5);

  @include media($screen-small) {
    @include transition(.3s);
    -webkit-transform: none;
    background-color: $supernova;
    border-top: 78px solid $dark-color;
    height: 0;
    left: -15px;
    margin: 0;
    overflow: hidden;
    position: fixed;
    right: -15px;
    top: 0px;
    transform: none;
    z-index: -1;
    &--is-open {
      border-top: 68px solid $dark-color;
      position: fixed;
      height: 100%;
      margin-top: 0;
      padding-bottom: 25px;
      padding-top: 30px;
      top: 0;
      z-index: -1;
    }
  }

  &__item {
    display: inline-block;
    font-family: $heading-font-family;
    font-size: rem(14);
    padding: 0 rem(20);

    @include media($screen-small) {
      display: block;
      text-align: center;
      margin-bottom: 20px;
      font-size: rem(20);
    }

    a {
      @include size(100%);
      @include transition(all .2s);
      color: $white;
      display: block;
      text-align: center;
    }
    &:last-child {
      float: right;
      margin-bottom: 0.5rem;
      margin-top: -0.5rem;
      @include media($screen-small) {
        float: none;
        width: 80%;
        margin: 0 auto;
      }
    }

    &:hover {
      a {
        color: $supernova;

        @include media($screen-small) {
          color: $nightrider;
        }

      }
    }
  }
}

// Item button on Navigation
.header-navigation__item--btn {
  border-radius: 4px;
  border: 1px solid $white;
  padding: 6px 17px;

  &::after {
    background: url('/build/img/2016/arrow-btn.svg') no-repeat top center;
    content: '';
    display: block;
    height: 9px;
    position: static;
    width: 63px;
    @include media($screen-small) {
      background: url('/build/img/2016/arrow-btn.svg') no-repeat top center;
      width: 100%;
    }
  }
}

.btn-toggle:hover {
  &::after,
  &::before {
      background: $supernova;
  }
}
.btn-toggle {
  @include vertical-align();
  cursor: pointer;
  // margin-top: 8px;
  position: absolute;
  right: rem(20);
  text-decoration: none;

  &:hover{
    background: $supernova;
  }

  // toggle icon hidden on large screens
  &,
  &:before,
  &:after {
    @include transition(.3s ease-in-out);
    background-color: #fff;
    display: none;
    height: 3px;
    width: 34px;
  }

  // shows toggle icon on small screens
  @include media($screen-small) {
    &,
    &:before,
    &:after {
      display: block;
    }
  }

  // hides 'menu' text, increases the touch area of the button
  > span {
     border: 0 none;
     color: transparent;
     height: 40px;
     margin: 0;
     overflow: hidden;
     padding: 0;
     position: fixed;
     text-indent: 100px;
     top: -23px;
     width: 40px;
    // @extend %sr-only;
  }

  // top and bottom rows
  &:before,
  &:after {
    content: "";
    position: absolute;
  }

  // top row
  &:before {
    top: -8px;
  }

  // bottom row
  &:after {
    bottom: -8px;
  }
}

.toggle--close {
  background-color: transparent;

  &:before,
  &:after {
    top: 0;
  }

  &:hover {
    background-color: transparent;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
