// *************************************
//
//   Main Layout
//
// *************************************

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: $white;
}

@import "_main-banner";
@import "_services";
@import "_portfolio";
@import "_partners";
@import '_showreel';
@import '_about';
