// *************************************
//
//   Main Layout
//
// *************************************

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: $base-background-color;
}

.main-banner {
  background: url('/build/img/2016/cover.jpg') no-repeat center center $nightrider;
  background-size: cover;
  min-height: rem(800);
  width: 100%;

  @include media($screen-small) {
    background: url('/build/img/2016/cover-mobile.jpg') no-repeat center center $nightrider;
    background-size: cover;
    min-height: rem(520);
  }

  &__tablet {
    @include span-columns(4 of 12);
    float: right;
    display: none;

    img {
      max-width: 390px;
      padding-top: 180px;
      width: 100%;
      float: right;
    }

    @include media($screen-small) {
      display: none;
    }
  }

  &__content {
    max-width: 700px;
    padding-top: rem(200);
    text-align: center;
    margin: 0 auto;

    @include media($screen-small) {
      @include span-columns(12);
      text-align: center;
      @include pad(120px $base-spacing);
    }

  }

  &__h1 {
    color: $supernova;
    font-family: $heading-font-family;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: rem(18);

    @include media($screen-small) {
      font-size: 25px;
    }

  }

  &__h2 {
    color: $white;
    font-family: $base-font-family;
    font-size: 26px;
    font-weight: 400;
    line-height: rem(40);
    font-weight: 200;

    @include media($screen-small) {
      font-size: 16px;
      line-height: rem(30);
    }

    strong {
      font-weight: 600;
    }
  }
}

.service {
  @include span-columns(12);
  background: $supernova;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: rem(144);
    text-align: center;
    @include media($screen-small) {
      @include pad($base-spacing);
    }
  }

  &__col {
    @include span-columns(6 of 12);
    @include media($screen-small) {
      @include span-columns(12);
      img {
        max-width: 80%;
        margin: 0 auto;
      }
    }

    &--pic {
      @include media($screen-small) {
        margin-bottom: 45px;
      }
    }
  }

  &__title {
    color: $nightrider;
    font-size: rem(46);
    font-weight: 900;
  }

  &__description {
    color: $white;
    font-family: $base-font-family;
    font-size: rem(20);
    font-weight: 200;
    @include media($screen-small) {
      font-size: rem(18);
    }
  }

  .btn {
    margin-top: rem(50);
  }

}


.mvp {
  @include span-columns(12);
  background: $whisper;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: 5rem;
    text-align: center;
    @include media($screen-small) {
      @include pad($base-spacing);
    }
  }

  &__col {
    @include span-columns(6 of 12);
    @include omega(2n);

    @include media($screen-small) {
      @include span-columns(12);
      img {
        max-width: 80%;
        margin: 0 auto;
      }
    }

    &--pic {
      @include media($screen-small) {
        margin-top: 45px;
      }
    }
  }

  &__title {
    color: $supernova;
    font-size: rem(46);
    font-weight: 900;

    @include media($screen-medium-up) {
      margin-top: rem(81);
    }
  }

  &__description {
    color: $nero;
    font-family: $base-font-family;
    font-size: rem(20);
    font-weight: 200;
    @include media($screen-small) {
      font-size: rem(18);
    }
  }

  .btn {
    margin: rem(30) 0 rem(30) 0;
  }

}


.methodology {
  @include span-columns(12);
  background: url('/build/img/2016/background-meto.jpg') no-repeat top center $nightrider;
  background-size: cover;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: rem(120);
    text-align: center;

    @include media($screen-small) {
      @include pad(rem(90) $base-spacing);
    }
  }

  &__result {
    border-bottom: 5px solid $supernova;
    color: $white;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__title {
    color: $supernova;
    font-size: rem(46);
    font-weight: 900;
    margin-top: rem(20);
  }

  &__description {
    font-family: $base-font-family;
    font-size: rem(32);
    font-weight: 200;

    @include media($screen-small) {
      font-size: rem(18);
    }
  }

  &__play {
    display: block;
    margin: 0 auto;
    width: rem(150);

    .icon {
      @include size(140px);
      background: url('/build/img/2016/play-video.svg') no-repeat top center;
      display: block;
      margin: 0 auto;
    }

    .text {
      display: inline-block;
      font-size: rem(22);
      margin-top: rem(10);

      &::after {
        background: url('/build/img/2016/arrow.svg') no-repeat top right;
        content: '';
        display: block;
        height: 9px;
        position: static;
        width: 100%;
      }
    }

  }

  &__play:hover {
    .text {
      color: $supernova;
    }
  }

}

.testimonials {
  @include span-columns(12);
  background: $nightrider;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: rem(40);
    text-align: center;
  }

  &__result {
    border-bottom: 5px solid $supernova;
    color: $white;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__title {
    color: $supernova;
    font-size: rem(46);
    font-weight: 900;
    margin-top: rem(20);
  }

}

.slider-testimonial {
  margin: 0 auto;
  max-width: rem(760);
  position: relative;

  &::before {
    @include position(absolute, 0 null null 0);
    @include size(47px 199px);
    background: url('/build/img/2016/slider-testimonials-background.png') no-repeat top left;
    content: '';
  }

  &::after {
    @include position(absolute, 0 0 null null);
    @include size(47px 199px);
    background: url('/build/img/2016/slider-testimonials-background.png') no-repeat top right;
    content: '';
  }

  &__quote {
    font-family: $base-font-family;
    font-size: rem(18);
    font-style: italic;
    font-weight: 300;
    margin: 20px auto;
    max-width: rem(570);
    min-height: rem(220);

    @include media($screen-small) {
      @include pad(0 $base-spacing*3);
      font-size: rem(15);
    }
  }

  &__picture {
    @include size(200px 110px);
    background: url('/build/img/2016/slider-background-author.svg') no-repeat top center;
    display: inline-block;
    margin: 0 auto;

    img {
      margin: rem(10) 0 0 rem(4);
    }
  }

  &__author {
    color: $white;
    font-size: rem(18);
  }

  &__project {
    color: $supernova;
    font-family: $heading-font-family;
    font-size: rem(16);
    font-weight: 900;
  }

  &__prev {
    @include position(absolute, null null 100px 50px);
    color: $white;
    font-size: rem(22);
    font-weight: 300;
    z-index: 100;

    @include media($screen-small) {
      @include position(absolute, null null -50px 50px);
      font-size: rem(17);
    }

    &::after {
      background: url('/build/img/2016/arrow-prev.svg') no-repeat top left;
      content: '';
      display: block;
      height: 9px;
      position: static;
      width: 100%;
    }
  }

  &__next {
    @include position(absolute, null 50px 100px null);
    color: $white;
    font-size: rem(22);
    font-weight: 300;
    z-index: 100;

    @include media($screen-small) {
      @include position(absolute, null 50px -50px null);
      font-size: rem(17);
    }

    &::after {
      background: url('/build/img/2016/arrow.svg') no-repeat top right;
      content: '';
      display: block;
      height: 9px;
      position: static;
      width: 100%;
    }
  }

  a:hover {
    color: $supernova;
  }

}


.testimonials-video {
  @include span-columns(12);
  margin-top: rem(100);

  figure {
    @include size(100% auto);
    float: left;
    opacity: .4;
    transition: opacity .2s;
  }

  img {
    @include size(100% auto);
    float: left;
  }

  &__box {
    cursor: pointer;
    float: left;
    //height: 180px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 25%;

    @include media($screen-small) {
      width: 50%;
    }

    @include media($screen-tiny) {
      width: 100%;
    }

    &:hover > figure {
      opacity: 1;
    }

    &:hover{
      .testimonials-video__author::before {
        background: url('/build/img/2016/arrow.svg') no-repeat top right;
        content: '';
        display: block;
        height: 9px;
        position: static;
        width: 100%;
      }
    }
  }

  &__description {
    @include position(absolute, null null 10px null);
    text-align: center;
    width: 100%;
  }

  &__author {
    color: $white;
    display: inline-block;
    font-size: rem(18);

    &::before {
      @include transition(all .2s);
      content: '';
      width: 0;
    }
  }

  &__project {
    color: $supernova;
    display: inline-block;
    font-family: $heading-font-family;
    font-size: rem(16);
    font-weight: 900;
    width: 100%;
  }
}



.projects {
  @include span-columns(12);
  background: $supernova;
  min-height: rem(690);
  clear: both;

  &__content {
    @include outer-container();
    padding-top: rem(50);
    text-align: center;
  }

  &__result {
    border-bottom: 5px solid $white;
    color: $white;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__title {
    color: $nightrider;
    font-size: rem(46);
    font-weight: 900;
    margin: rem(20) 0 rem(10) 0;
  }

  &__description {
    font-family: $base-font-family;
    font-size: rem(32);
    font-weight: 200;
  }

  &__grid {
    background: black none repeat scroll 0 0;
    float: left;
    margin: 0 auto;
    max-width: 100%;
    // max-width: rem(1400);
  }

  &__item {
    background: $nightrider;
    float: left;
    overflow: hidden;
    position: relative;
    width: 10%;
    &::after {
      background: rgba($black, 0.4) none repeat scroll 0 0;
      content: "";
      display: block;
      height: rem(600);
      left: 0;
      position: absolute;
      width: 100%;
      transition: all .2s;
    }
    &:hover:after {
      background: rgba($black, 0.0) none repeat scroll 0 0;
    }

    @include media($screen-medium) {
      width: 20%;
    }

    @include media($screen-small) {
      width: 50%;
    }

    img {
      @include filter(grayscale(100%));
      @include size(100% auto);
      float: left;
      transition: all .5s;
    }

    &:hover {
      img {
        @include filter(grayscale(0));
        opacity: 1;
      }

      .projects__name{
        height: auto;
      }

    }
  }

  &__name {
    //padding: 5px;
    @include position(absolute, null null 0 0);
    @include size(100% 0);
    @include transition(all .2s);
    background: $nightrider;
    color: $white;
    font-family: $base-font-family;
    font-size: rem(14);
    text-align: center;
  }
}
