
.main-banner {
  min-height: 100vh;
  width: 100%;

  @include media($screen-small) {
  }

  &__tablet {
    @include size(100vw 100vh);
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include media($screen-medium) {
      display: block;
    }

  }

   &__video{

      &:before{
        content:'';
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background: rgba(77,111,133,0.5);
      }
    }

  &__mask {
      overflow: hidden;
      position: absolute;
      bottom:0;
      @include size(100% 100%);

      &:before{
        @include mask(0 0 50% 50%, 45px, 300, $supernova, $white);
        @include size(350vw 820vh);
        margin-left: -175vw;
        z-index: 1;
      }

      @include media($screen-small) {
        &:before{
          @include mask(0 0 50% 50%, 50px, 220, $supernova, $white);
          bottom: 0;
          width: 500vw;
          margin-left: -250vw;
        }
      }

      @include media($screen-medium) {
        &:before{
          @include mask(0 0 50% 50%, 50px, 220, $supernova, $white);
          bottom: 20px;
        }
      }

      &__content{

        overflow: hidden;
        @include size(100vw 100vh);
        
         &:after{
          @include mask(0 0 50% 50%, 110px, 0, $supernova, $white);
          @include size(200vw 420vh);
          bottom: -60px;
          margin-left: -100vw;
        }

        @include media($screen-small) {
          &:after{
            @include mask(0 0 50% 50%, 130px, 0, $supernova, $white);
            @include size(380vw 820vh);
            bottom: -80px;
            margin-left: -190vw;
          }
        }

        @include media($screen-medium) {
          &:after{
            @include mask(0 0 50% 50%, 130px, 0, $supernova, $white);
            @include size(200vw 340vh);
            bottom: -60px;
            margin-left: -100vw;
          }
        }

        &--is-image{
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-color: #4d6f85;
          background-blend-mode: multiply;
        }


        &--is-video{
          position: fixed;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -100;
          transform: translateX(-50%) translateY(-50%);
          background-size: cover;
          transition: 1s opacity;

          @include media($screen-medium) {
            display: none;
          }          
        }

      }

  }

  &__content {
    position:relative;
    z-index: 800;
    max-width: 700px;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    padding-top: rem(70);
    @include align-items(center);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-around);

    @include media($screen-small) {

    }
  }

  &__h1 {
    // color: $supernova;
    color: #28ead7;
    font-family: $panton-extrabold;
    line-height: rem(90);
    font-size: rem(88);
    font-weight: 900;
    text-transform:uppercase;
    margin-top: rem(150);
    margin-bottom: rem(25);

    @include media($screen-small) {
      font-size: rem(40);
      margin-top: rem(140);
      padding:0 rem(20);
    }

  }

    &__h1_2 {
    // color: $supernova;
    color: #28ead7;
    font-family: $panton-extrabold;
    line-height: rem(90);
    font-size: rem(88);
    font-weight: 900;
    text-transform:uppercase;
    margin-top: rem(50);
    margin-bottom: rem(0);

    @include media($screen-small) {
      font-size: rem(40);
      margin-top: rem(20);
      padding:0 rem(20);
    }

  }

  &__h2 {
    color: $white;
    font-family: $panton-regular;
    font-size: rem(28);
    font-weight: 400;
    line-height: rem(30);
    font-weight: 200;
    padding:0 rem(20);
    @include media($screen-small) {
      font-size: rem(22);
      line-height: rem(30);
    }

    strong {
      font-weight: 600;
    }
  }

  &__scroll-page{
    width: rem(45);
    height: rem(45);
    margin-bottom: rem(100);
    background: url('/build/img/2016/arrow-scroll-down.png');
    display: inline-flex;
    position: relative;
    z-index: 2;
    @include border-top-radius(50%);
    @include border-right-radius(50%);
    @include border-bottom-radius(50%);
    @include border-left-radius(50%);

    @include media($screen-medium) {
      margin-bottom: rem(180);
    }

    @include media($screen-small) {
      margin-bottom: rem(130);
    }

  }

}
