
.partners {
  @include span-columns(12);
  background: $supernova;
  // min-height: rem(690);
  @include pad(rem(100) 0);
  clear: both;

  &__content {
    @include outer-container();
    // padding-top: rem(50);
    text-align: center;
  }

  &__result {
    border-bottom: 5px solid $white;
    color: $white;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__title {
    color: $nightrider;
    font-family: $panton-extrabold;
    font-size: rem(62);
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
  }

  &__description {
    font-family: $base-font-family;
    font-size: rem(26);
    font-weight: 200;
    margin-bottom: rem(80);
  }

  &__grid {
    @include outer-container(960px);
  }


  &__item {
    display: inline-block;
    position: relative;
    height: rem(100);
    width:100%;
    margin:rem(10) 0;
    

    @include media($screen-medium) {
      // width: 20%;
    }

    @include media($screen-small) {
      // width: 50%;
    }

    .img {
      @include filter(grayscale(100%));
      @include size(100% 100%);
      float: left;
      transition: all .5s;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &:hover {
      .img {
        @include filter(grayscale(0));
        opacity: 1;
      }

      .partners__name{
        height: auto;
      }

    }
  }

  // .owl-carousel .owl-item {
  //   float: left;

  //   &:nth-child(odd){
  //     .partners__item{
  //       &:nth-child(odd){
  //         background-size: contain;
  //       }
  //       &:nth-child(even){
  //         background-size: contain;
  //       }
  //     }
  //   }

  //   &:nth-child(even){
  //     .partners__item{
  //       &:nth-child(odd){
  //         background-size: contain;
  //       }
  //       &:nth-child(even){
  //         background-size: contain;
  //       }
  //     }
  //   }
  // }
  
  .owl-carousel .owl-stage-outer{
    position: relative;
    z-index: 99;
  }

  .owl-nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .owl-next, .owl-prev {
    position: absolute;
    top: 0;
    width: 21px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
     /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 3;
  }
  .owl-prev {
    left: -50px;
    background-image:url('/build/img/2016/arrow-port-prev.png');
  }
  .owl-next {
    right: -50px;
    background-image:url('/build/img/2016/arrow-port-next.png');
  }


}
