
.portfolio {
  @include span-columns(12);
  background: $supernova;
  // min-height: rem(690);
  @include pad(rem(100) 0);
  clear: both;

  &__content {
    @include outer-container();
    // padding-top: rem(50);
    text-align: center;
  }

  &__result {
    border-bottom: 5px solid $white;
    color: $white;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__title {
    color: $white;
    font-family: $panton-extrabold;
    font-size: rem(62);
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
  }

  &__description {
    font-family: $base-font-family;
    font-size: rem(26);
    font-weight: 200;
    margin-bottom: rem(80);
  }


  &__filter{
    @include outer-container(960px);
    padding: rem(40) 0;
    text-align: center;

    &__item{
      float: left;
      padding: 0 rem(40);
      font-size: rem(24);
      font-weight: 400;
      text-transform: uppercase;
      color: $white;
        a{
          position: relative;
          &:hover{
            color: $white;
          }
        }
    }


    &__cat{

        &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 3px;
        background:#4d6f85;
        opacity: 0;
        @include transition(all .5s ease-in-out);
        @include transform(translateY(60px));
      }

      &:hover:after, &.active:after{
        // background: rgba($black, 0.0) none repeat scroll 0 0;
        opacity: 1;
        @include transform(translateY(-10px));
      }

    }

  }


  &__grid {
    @include outer-container(960px);
    min-height: rem(250)
  }


  &__item {
    position: relative;
    @include span-columns(3);
    height: rem(120);
    margin: 15px 0;

    &:nth-child(even){
      // background-color: $whisper;
    }

    @include media($screen-medium) {
      // width: 20%;
    }

    @include media($screen-small) {
      margin:0 20px 0 40px;
      //background:red;
      // width: 50%;
    }

    .img {
      @include filter(grayscale(100%));
      @include size(100% 100%);
      float: left;
      transition: all .5s;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 107%;
    }

    &:hover {
      .img {
        @include filter(grayscale(0));
        opacity: 1;
      }

      .portfolio__name{
        display: block;
        height: auto;
        @include vertical-align();
        @include transition(all .2s);
      }

    }
  }

  &__name {
    @include position(absolute, null null 0 0);
    @include size(100% 100%);
    display: none;
    @include transition(all .2s);
    color: $supernova;
    font-family: $base-font-family;
    font-size: rem(14);
    text-align: center;
  }


  &__modal{
    max-width: rem(650);
    min-height: rem(400);
    text-align: left;
    padding: 0;

    &__content{
      @include pad(rem(20));
    }

    &__banner{
      position: relative;
      @include size(100% rem(200));
      background-size:contain;
      background-repeat: no-repeat;
      background-color: $whisper;
      background-position: 50%;
    }

    &__title{
      font-family: $panton-extrabold;
      font-size:rem(35);
      margin-bottom: rem(5);
    }

    &__awards{
      font-family: $panton-extrabold;
      font-size:rem(28);
      margin-bottom: rem(5);
    }

    &__description{
      font-size:rem(16);

    }

    &__description__sub{
        font-size:rem(14);
        font-weight: none;
        font-family: $base-font-family;
    }

    &__links{

      @include span-columns(12);

      &__col{
        @include span-columns(6 of 12);

        h4{
          font-family: $panton-extrabold;
          font-size: rem(22);
        }
      }

      &__list{

      }

      &__item{
        display: inline-block;
        @include size(50px 50px);
        border-radius:50%;
        background: $whisper;

      }

    }

    &__badges{

      @include position(absolute, null 20px 20px null);

      &__item{

        @include size(50px 50px);
        //border-radius: 50%;
        //background: red;
        //display: block;

      }

    }

  }

}
