
.portfolio {
  @include span-columns(12);
  background: $supernova;
  // min-height: rem(690);
  @include pad(rem(100) 0);
  clear: both;

  &__content {
    @include outer-container();
    // padding-top: rem(50);
    text-align: center;
  }

  &__result {
    border-bottom: 5px solid $white;
    color: $white;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__title {
    color: $white;
    font-size: rem(62);
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
  }

  &__description {
    font-family: $base-font-family;
    font-size: rem(26);
    font-weight: 200;
    margin-bottom: rem(80);
  }


  &__filter{
    @include outer-container(960px);
    padding: rem(40) 0;
    text-align: center;

    &__item{
      display: inline-block;
      padding: 0 rem(40);
      font-size: rem(24);
      font-weight: 400;
      text-transform: uppercase;
      color: $white;

      a{
        position: relative;
        &:hover{
          color: $white;
        }
      }

      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 3px;
        background:#4d6f85;
        opacity: 0;
        @include transition(all .5s ease-in-out);
        @include transform(translateY(60px));
      }

      &:hover:after, &--is-active:after{
        // background: rgba($black, 0.0) none repeat scroll 0 0;
        opacity: 1;
        @include transform(translateY(-10px));
      }

    }

    &__cat{
    }
    
  }


  &__grid {
    @include outer-container(960px);
  }


  &__item {
    display: inline-block;
    position: relative;
    margin: 0;
    height: rem(200);
    width:100%;
    margin-bottom: -6px;

    // &::after {
    //   background: rgba($black, 0.1) none repeat scroll 0 0;
    //   content: "";
    //   display: block;
    //   height: rem(600);
    //   left: 0;
    //   position: absolute;
    //   width: 100%;
    //   transition: all .2s;
    // }
    // &:hover:after {
    //   background: rgba($black, 0.0) none repeat scroll 0 0;
    // }

    @include media($screen-medium) {
      // width: 20%;
    }

    @include media($screen-small) {
      // width: 50%;
    }

    img {
      @include filter(grayscale(100%));
      @include size(100% auto);
      float: left;
      transition: all .5s;
    }

    &:hover {
      img {
        @include filter(grayscale(0));
        opacity: 1;
      }

      .portfolio__name{
        height: auto;
      }

    }
  }

  &__name {
    //padding: 5px;
    @include position(absolute, null null 0 0);
    @include size(100% 0);
    @include transition(all .2s);
    background: $nightrider;
    color: $white;
    font-family: $base-font-family;
    font-size: rem(14);
    text-align: center;
  }

  .owl-carousel .owl-item {
    float: left;

    &:nth-child(odd){
      .portfolio__item{
        &:nth-child(odd){
          background:$whisper;
        }
        &:nth-child(even){
          background:$white;
        }
      }
    }

    &:nth-child(even){
      .portfolio__item{
        &:nth-child(odd){
          background: $white;
        }
        &:nth-child(even){
          background:$whisper;
        }
      }
    }
  }
  
  .owl-carousel .owl-stage-outer{
    position: relative;
    z-index: 99;
  }

  .owl-nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .owl-next, .owl-prev {
    position: absolute;
    top: 0;
    width: 21px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
     /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 3;
  }
  .owl-prev {
    left: -50px;
    background-image:url('/build/img/2016/arrow-port-prev.png');
  }
  .owl-next {
    right: -50px;
    background-image:url('/build/img/2016/arrow-port-next.png');
  }


}
