.service {
  @include span-columns(12);
  @include pad(6.8rem 0) ;
  background: $white;
  min-height: rem(500);
  
  &__saibamais-oquefazemos{
    width:105px;
    margin:0 auto;
    position:relative;
    top:3em;
      & a{
        background:#fff;
        border: 1px solid #4d6f85;  
        color:#4d6f85;
        padding:0.5em;
        animation:6s;
        border-radius:0.5em;
          &:hover{
            background:#20b5ac;
            color:#fff;
            animation:6s;
            border: 1px solid #20b5ac; 
          }
      }
  }


  @include media($screen-small) {
    @include pad(rem(120) 0) ;
  }

  @include media($screen-tiny) {
    @include pad(rem(50) 0) ;
  }

  &__content {
    @include outer-container();
    // padding-top: rem(20);
    text-align: center;
    @include media($screen-small) {
      @include pad(0 $base-spacing);
    }
  }

  &__title {
    // color: $nightrider;
    color:#4d6f85;
    font-size: rem(54);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: rem(10);
  }

  &__description {
    color:#4d6f85;
    font-family: $base-font-family;
    font-size: rem(20);
    font-weight: 200;
    @include media($screen-small) {
      font-size: rem(18);
    }
  }

  &__processes{
    
    @include outer-container();
    @include align-items(center);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(center);
    @include pad(0 $base-spacing);
    text-align: center;

    @include media($screen-tiny) {
      @include flex-direction(column);
    }
   

    &--item{
      display: inline-block;
      padding:0 rem(40) 0 0;
      position: relative;
     
      @include media($screen-small) {
        padding:0 rem(30) 0 0;
      }

      @include media($screen-tiny) {
        padding:0 0 rem(40) 0;
      }

      &:after{
        content: "";
        width: 12px;
        height: 21px;
        position: absolute;
        top: 29.5%;
        right: 15px;
        background-image: url(/build/img/2016/arrow-next.png);
        background-position: center center;
        background-repeat: no-repeat;

        @include media($screen-small) {
          right: 10px;
        }

        @include media($screen-tiny) {
          bottom: 0;
          top: 83%;
          right: 44%;
          transform: rotate(-270deg);
        }

      }

      &:last-child{
        padding: 0;
        &:after{
          display: none;
        }
      }
    }

    &--icon{
      
      @include size(120px 120px);
      display: block;
      color: #20b5ac;
      border:5px solid #20b5ac;
      border-radius:50%;
      background-repeat: no-repeat;
      background-position: center center; 
     
      @include media($screen-small) {
        @include size(90px 90px);
      }
      @include media($screen-tiny) {
        @include size(120px 120px);
      }
    }
    
     &--icon__search {
      animation-name: pesquisa;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      background-image: url('/build/img/2016/news-logos/idealizamos_01.png');

      @keyframes pesquisa {
        0%   { background-image: url('/build/img/2016/news-logos/idealizamos_01.png'); }
        25%  { background-image: url('/build/img/2016/news-logos/idealizamos_02.png'); }
        50%  { background-image: url('/build/img/2016/news-logos/idealizamos_03.png'); }
        100% { background-image: url('/build/img/2016/news-logos/idealizamos_01.png'); }
      }
    }

     &--icon__write{
      animation-name: idealizamos;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      background-image: url('/build/img/2016/news-logos/damosvida_01.png');

      @keyframes idealizamos {
        0%   { background-image: url('/build/img/2016/news-logos/damosvida_01.png'); }
        25%  { background-image: url('/build/img/2016/news-logos/damosvida_02.png'); }
        50%  { background-image: url('/build/img/2016/news-logos/damosvida_03.png'); }
        100% { background-image: url('/build/img/2016/news-logos/damosvida_01.png'); }
      }
    }

    &--icon__ok{
      animation-name: nosconte;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      background-image: url('/build/img/2016/news-logos/nosconte_01.png');

      @keyframes nosconte {
        0%   { background-image: url('/build/img/2016/news-logos/nosconte_01.png'); }
        25%  { background-image: url('/build/img/2016/news-logos/nosconte_02.png'); }
        50%  { background-image: url('/build/img/2016/news-logos/nosconte_03.png'); }
        100% { background-image: url('/build/img/2016/news-logos/nosconte_01.png'); }
      }
    }

    &--icon__setting{
      animation-name: tornamosrealidade;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      background-image: url('/build/img/2016/news-logos/tornamosrealidade_01.png');

      @keyframes tornamosrealidade {
        0%   { background-image: url('/build/img/2016/news-logos/tornamosrealidade_01.png'); }
        25%  { background-image: url('/build/img/2016/news-logos/tornamosrealidade_02.png'); }
        50%  { background-image: url('/build/img/2016/news-logos/tornamosrealidade_03.png'); }
        100% { background-image: url('/build/img/2016/news-logos/tornamosrealidade_01.png'); }
      }
    }
    
   
    &--text{
      color:#4d6f85;
      font-size: 16px;
      font-weight: 900;
      margin: 0;
      margin-top: rem(20);
      
      @include media($screen-tiny) {
        margin-top: rem(12);
      }
    }
  }
}
.modal-oquefazemos{
      width:100%;
      article{
        width:50%;
        padding:1em;
        float:left;
      }
      figure{
        margin:0 auto;
        width:86px;
        height:85px;
        background-repeat: no-repeat;
        background-position: center center;
        padding:3em;
      }
      h1{
        font-weight: bold;
      }
      &__pesquisa{
        & figure{
          background-image: url('/build/img/2016/news-logos/idealizamos_03.png');
        }
      }
      &__damosvida{
        & figure{
          background-image: url('/build/img/2016/news-logos/damosvida_03.png');
        }
      }
      &__nosconte{
        clear: both;
        & figure{
          background-image: url('/build/img/2016/news-logos/nosconte_03.png');
        }
      }
      &__tornamosrealidade{
        & figure{
          background-image: url('/build/img/2016/news-logos/tornamosrealidade_03.png');
        }
      }
}

