@mixin vertical-align($position: relative) {
  @include transform(translateY(-50%));
  position: $position;
  top: 50%;
}

@mixin transitions($what: all, $length: 0.3s, $easing: ease-in-out) {
    -moz-transition:    $what $length $easing;
    -o-transition:      $what $length $easing;
    -webkit-transition: $what $length $easing;
    -ms-transition:     $what $length $easing;
    transition:         $what $length $easing;
}

@mixin mask($radius: 0 0 50% 50%, $border: 70px, $shadow: 200, $border-color: #000, $shadow-color: #000) {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius:$radius;
  border: $border solid $border-color;
  border-top: 0;
  box-shadow: 0 rem($shadow) 0 0 $shadow-color;
}
