@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900,700);

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Black.eot');
  src: url('/fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AvenirLTStd-Black.woff') format('woff'),
    url('/fonts/AvenirLTStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Roman.eot');
  src: url('/fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AvenirLTStd-Roman.woff') format('woff'),
    url('/fonts/AvenirLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
