<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body id="{{ page.body_id }}" class="page-{{ page.body_id }}">
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <header id="home-section" class="header">
      <div class="header__content">
        <a href="{{ site.url }}" class="header__logo" title="Startup DEV"></a>
        <a class="btn-toggle js-toggle-menu" href="#" title="Menu Principal">
          <span>Menu</span>
        </a>
        <nav class="header-navigation js-navbar" role="navigation">
          <ul id="js-navigation-menu">
            <li class="header-navigation__item"><a title="service" href="{{ site.url }}#service">service</a></li>
            <li class="header-navigation__item"><a title="MVP Expresso" href="{{ site.url }}#mvp">MVP Expresso</a></li>
            <li class="header-navigation__item"><a title="Resultado" href="{{ site.url }}#resultado">Resultado</a></li>
            <li class="header-navigation__item"><a title="EN" href="{{ site.url }}en/">EN</a></li>
            <li class="header-navigation__item"><a class="header-navigation__item--btn" title="Contrate" href="{{ site.url }}#modal" id="cta-hire-topbar">Contrate</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      {{ content }}
    </section>
    {% include head/javascripts.html %}
  </body>
</html>
