<!DOCTYPE html>
<html lang='pt'>
  <head>
    <title>Desenvolvimento de MVP e Aplicativos Web para Startups - Startup DEV</title>
    <link href='/favicon.png' rel='shortcut icon'>
    {% include head/metas.html %}
    <style>
    body {
      text-align: center;
      color: #fff;
    }
    </style>
    <script type="text/javascript">
      var __lc = {};
      __lc.license = 1517582;

      (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
      })();
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>